$font-body: 400 22px/1.36 'Gilroy';
$font-ultima: 400 90px/0.93 'UltimaPro';


$main-black: #2b2c34;
$yellow: #ffb103;
$purple: #8f00ff;
$purple-dark: #59049b;
$blue: #11f5ff;
$green: #4fed00;
$dark-grey: #232323;
$light-grey: #a4a4a4;

$black-10: rgba(0,0,0, .1);
$black-20: rgba(0,0,0, .2);
$black-30: rgba(0,0,0, .3);
$black-50: rgba(0,0,0, .5);
$black-60: rgba(0,0,0, .6);
$white-20: rgba(255,255,255, .2);
$white-30: rgba(255,255,255, .3);
$white-40: rgba(255,255,255, .4);


