$font-body: 400 22px/1.36 'Gilroy';
$font-ultima: 400 90px/0.93 'UltimaPro';
$base-font-size: 22px;

$desktop-height-ratio: 900px;
$desktop-width-half: 800px;
$desktop-home-ratio: 1600px;
$mobile-ratio: 640px;
$mobile-ratio-height: 920px;

$desktop-bad-ratio: 'screen and (min-aspect-ratio: 2500/1400) and (min-width: 1000px)';
$media-sm: 'screen and (max-width: 1023px)';
$media-sm-with-ratio: 'screen and (max-width: 1023px) and (min-aspect-ratio: 940/1300)';

$main-black: #2b2c34;
$yellow: #ffb103;
$purple: #8f00ff;
$purple-dark: #59049b;
$blue: #11f5ff;
$green: #4fed00;
$grey: #888888;
$dark-grey: #232323;
$light-grey: #a4a4a4;

$hero-2-width: 431px;
$hero-2-height: 857px;

$black-10: rgba(0,0,0, .1);
$black-20: rgba(0,0,0, .2);
$black-30: rgba(0,0,0, .3);
$black-40: rgba(0,0,0, .4);
$black-50: rgba(0,0,0, .5);
$black-60: rgba(0,0,0, .6);
$white-20: rgba(255,255,255, .2);
$white-30: rgba(255,255,255, .3);
$white-40: rgba(255,255,255, .4);
$white-50: rgba(255,255,255, .5);
$white-60: rgba(255,255,255, .6);
$white-70: rgba(255,255,255, .7);

$transition-time: .5s;


