.accordion-channels {

  .channel-name {
    flex-basis: 60%;
  }

  .channel-mhz {
    margin-right: 16px;
    flex-basis: 20%;
    text-align: right;

    @media #{$media-sm} {
      margin-right: 16px/$mobile-ratio*100vw;
      font-size: 18px/$mobile-ratio*100vw;
      flex-basis: 15%;
    }
  }

  .channel-number {
    flex-basis: 10%;
    text-align: right;

    @media #{$media-sm} {
      font-size: 18px/$mobile-ratio*100vw;
      flex-basis: 15%;
    }
  }

  .accordion-header {
    font-size: 12px/$desktop-home-ratio*100vw;
    color: $white-30;
    display: flex;
    margin-bottom: 20px;
    padding: 0 (30px/$desktop-home-ratio*100vw);

    @media #{$desktop-bad-ratio} {
      padding: 0 (30px/$desktop-height-ratio*100vh);
    }

    @media #{$media-tablet} {
      font-size: 12px/$tablet-ratio*100vw;
    }

    @media #{$media-sm} {
      display: none;
    }

    .channel-mhz {
      @media #{$media-tablet} {
        padding-right: 10px/$tablet-ratio*100vw;
      }
    }
  }

  .main-channels-accordion {
    .accordion-item {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .accordion-title {
        background: #fff;
        border-radius: 20px/$desktop-home-ratio*100vw;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        font-size: 28px/$desktop-home-ratio*100vw;
        z-index: 1;
        position: relative;
        cursor: pointer;
        transition: background-color .25s, color .25s;
        padding: (22px/$desktop-home-ratio*100vw) (30px/$desktop-home-ratio*100vw);

        @media #{$desktop-bad-ratio} {
          padding: (22px/$desktop-height-ratio*100vh) (30px/$desktop-height-ratio*100vh);
        }

        @media #{$media-tablet} {
          border-radius: 20px/$tablet-ratio*100vw;
          font-size: 28px/$tablet-ratio*100vw;
          padding: (22px/$tablet-ratio*100vw) (30px/$tablet-ratio*100vw);
        }

        @media #{$media-sm} {
          font-size: 28px/$mobile-ratio*100vw;
          border-radius: 20px/$mobile-ratio*100vw;
          padding: (22px/$mobile-ratio*100vw) (22px/$mobile-ratio*100vw);

        }

        @media #{$media-sm-with-ratio} {
          font-size: 28px/$mobile-ratio-height*100vh;
          padding: (22px/$mobile-ratio-height*100vh) (22px/$mobile-ratio-height*100vh);
          border-radius: 20px/$mobile-ratio-height*100vh;
        }

        .channel-icon {
          width: 40px/$desktop-home-ratio*100vw;
          margin-right: 30px;

          @media #{$media-tablet} {
            width: 40px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            width: 40px/$mobile-ratio*100vw;
            margin-right: 30px/$mobile-ratio*100vw;
          }
        }

        .channel-name {
          display: flex;
          align-items: center;
          font: $font-ultima;
          font-size: 28px/$desktop-home-ratio*100vw;

          @media #{$media-sm} {
            font-size: 28px/$mobile-ratio*100vw;
          }

          @media #{$media-tablet} {
            font-size: 28px/$tablet-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            font-size: 28px/$mobile-ratio-height*100vh;
          }
        }

        .channel-number, .channel-mhz {
          color: $black-60
        }

        .channel-more {
          flex-basis: 10%;
          text-align: right;

          img {
            width: 28px/$desktop-home-ratio*100vw;
            transition: transform .5s;

            @media #{$media-tablet} {
              width: 28px/$tablet-ratio*100vw;
            }

            @media #{$media-sm} {
              width: 40px/$mobile-ratio*100vw;
            }
          }
        }

        svg {
          > * {
            transition: fill .5s;
          }
        }

        &.accordion-open {
          background-color: transparent;
          //position: absolute;
          width: 100%;

          svg {
            > * {
              fill: #fff;
            }
          }

          span {
            color: #fff;
          }

          .channel-more {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }

      .accordion-content {
        height: 0;
        opacity: 0;
        max-height: 450px;
        position: relative;
        overflow: hidden;
        border-radius: 20px/$desktop-home-ratio*100vw;
        transition: height .25s, opacity .15s;

        @media #{$media-tablet} {
          border-radius: 20px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          max-height: 420px;
        }

        @media #{$media-sm} {
          border-radius: 20px/$mobile-ratio*100vw;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, .5);
          border-radius: 20px/$desktop-home-ratio*100vw;
          transition: opacity .5s;

          @media #{$media-tablet} {
            border-radius: 20px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            border-radius: 20px/$mobile-ratio*100vw;
          }
        }

        .play-video-icon {
          display: block;
          width: 140px/$desktop-home-ratio*100vw;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: opacity .5s;

          img {
            transition: opacity .5s;
          }

          .play-img {
            opacity: 1;
            position: absolute;
          }

          .pause-img {
            opacity: 0;
          }

          @media #{$media-tablet} {
            width: 140px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            width: 140px/$mobile-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            width: 140px/$mobile-ratio-height*100vh;
          }
        }

        video {
          object-fit: cover;
          height: 450px/$desktop-home-ratio*100vw;
          width: 100%;

          @media #{$media-tablet} {
            height: 450px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            height: 420px/$mobile-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            height: 420px/$mobile-ratio-height*100vh;
          }
        }

        .video-url, .video-tags {
          position: absolute;
          bottom: 40px/$desktop-home-ratio*100vw;
          font-size: 18px/$desktop-home-ratio*100vw;
          color: #fff;

          @media #{$media-tablet} {
            bottom: 40px/$tablet-ratio*100vw;
            font-size: 18px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            font-size: 18px/$mobile-ratio*100vw;
            bottom: 34px/$mobile-ratio*100vw;
          }
        }

        .video-url {
          left: 30px/$desktop-home-ratio*100vw;

          @media #{$media-tablet} {
            left: 30px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            left: 30px/$mobile-ratio*100vw;
          }
        }

        .video-tags {
          right: 30px/$desktop-home-ratio*100vw;
          bottom: 26px/$desktop-home-ratio*100vw;

          @media #{$media-tablet} {
            right: 30px/$tablet-ratio*100vw;
            bottom: 26px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            bottom: 28px/$mobile-ratio*100vw;
            right: 30px/$mobile-ratio*100vw;
          }

          span {
            display: block;
            float: left;
            padding: (8px/$desktop-home-ratio*100vw) (10px/$desktop-home-ratio*100vw);
            border: 2px solid rgba(255, 255, 255, .3);
            border-radius: 10px;

            @media #{$desktop-bad-ratio} {
              padding: (8px/$desktop-height-ratio*100vh) (10px/$desktop-height-ratio*100vh);
            }

            @media #{$media-tablet} {
              padding: (8px/$tablet-ratio*100vw) (10px/$tablet-ratio*100vw);
            }

            @media #{$media-sm} {
              padding: (8px/$mobile-ratio*100vw) (10px/$mobile-ratio*100vw);
            }

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }

        &.playing-video {
          &:before, .play-video-icon, .play-video-icon .play-img {
            opacity: 0;
            pointer-events: none;
          }

          &:hover {
            &:before {
              opacity: 1;
              background-color: rgba(0,0,0, .6);
            }

            .play-video-icon, .play-video-icon .pause-img {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }
      }

      .accordion-open + .accordion-content {
        height: 450px/$desktop-home-ratio*100vw;
        opacity: 1;

        @media #{$media-tablet} {
          height: 450px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          height: 420px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          height: 420px/$mobile-ratio-height*100vh;
        }
      }
    }
  }
}