.breadcrumbs {
  padding-top: 110px/$desktop-home-ratio*100vw;
  z-index: 2;
  position: absolute;
  color: #fff;
  opacity: 0;

  @media #{$media-sm} {
    display: none;
  }

  .white-bg & {
    color: #000;
  }

  @media #{$desktop-bad-ratio} {
    padding-top: 115px/$desktop-height-ratio * 100vh;
  }

  @media #{$media-tablet} {
    padding-top: 160px/$tablet-ratio*100vw;
  }

  @media #{$media-sm} {
    padding-top: 115px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    padding-top: 160px/$mobile-ratio-height*100vh;
  }

  ul {
    li {
      font-size: 18px/$desktop-home-ratio*100vw;
      display: inline-block;

      @media #{$desktop-bad-ratio} {
        font-size: 18px/$desktop-height-ratio*100vh;
      }

      @media #{$media-tablet} {
        font-size: 18px/$tablet-ratio*100vw;
      }

      @media #{$media-sm} {
        font-size: 9px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        font-size: 9px/$mobile-ratio-height*100vh;
      }

      &:not(:last-child) {
        margin-right: 25px/$desktop-home-ratio*100vw;

        @media #{$desktop-bad-ratio} {
          margin-right: 25px/$desktop-height-ratio * 100vh;
        }

        @media #{$media-tablet} {
          margin-right: 25px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          margin-right: 25px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          margin-right: 25px/$mobile-ratio-height*100vh;
        }
      }
      a {
        color: $white-50;

        .white-bg & {
          color: $black-50;
        }

        &:hover {
          color: #fff;

          .white-bg & {
            color: #000;
          }
        }
      }
    }
  }
}