.btn {
  padding: (15px/$desktop-home-ratio*100vw) (30px/$desktop-home-ratio*100vw);
  font: $font-body;
  display: inline-block;
  transition: background .2s, color .2s, opacity .2s;
  border: none;
  cursor: pointer;
  font-size: 22px/$desktop-home-ratio*100vw;

  @media #{$desktop-bad-ratio} {
    padding: (15px/$desktop-height-ratio*100vh) (30px/$desktop-height-ratio*100vh);
    font-size: 22px/$desktop-height-ratio*100vh;
  }

  @media #{$media-tablet} {
    padding: (15px/$tablet-ratio*100vw) (30px/$tablet-ratio*100vw);
    font-size: 22px/$tablet-ratio*100vw;
  }
  
  @media #{$media-sm} {
    padding: (15px/$mobile-ratio*100vw) (30px/$mobile-ratio*100vw);
    font-size: 22px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    padding: (20px/$mobile-ratio-height*100vh) (30px/$mobile-ratio-height*100vh);
  }

  &[disabled],&.disabled {
    color: rgba(255,255,255,.1);
    pointer-events: none;
    background: rgba(0,0,0,.1)!important;

    span {
      color: rgba(255,255,255,.1);
    }

    svg {
      path {
        fill: #000;
      }
    }
  }

  &.btn-primary {
    border-radius: 18px/$desktop-home-ratio*100vw;
    font-size: 22px/$desktop-home-ratio*100vw;
    font-weight: 600;

    @media #{$desktop-bad-ratio} {
      border-radius: 18px/$desktop-height-ratio*100vh;
      font-size: 22px/$desktop-height-ratio*100vh;
    }

    @media #{$media-tablet} {
      border-radius: 18px/$tablet-ratio*100vw;
      font-size: 22px/$tablet-ratio*100vw;
    }
    
    @media #{$media-sm} {
      border-radius: 20px/$mobile-ratio*100vw;
      font-size: 22px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      border-radius: 20px/$mobile-ratio-height*100vh;
      font-size: 22px/$mobile-ratio*100vh;
    }
  }

  &.btn-big {
    font-size: 24px/$desktop-home-ratio*100vw;
    font-weight: 600;
    border-radius: 26px/$desktop-home-ratio*100vw;
    padding: (27px/$desktop-home-ratio*100vw) (24px/$desktop-home-ratio*100vw);
    text-align: center;

    @media #{$desktop-bad-ratio} {
      border-radius: 26px/$desktop-height-ratio*100vh;
      font-size: 24px/$desktop-height-ratio*100vh;
      padding: (27px/$desktop-height-ratio*100vh) (24px/$desktop-height-ratio*100vh);
    }

    @media #{$media-tablet} {
      border-radius: 26px/$tablet-ratio*100vw;
      font-size: 24px/$tablet-ratio*100vw;
      padding: (27px/$tablet-ratio*100vw) (24px/$tablet-ratio*100vw);
    }

    @media #{$media-sm} {
      border-radius: 30px/$mobile-ratio*100vw;
      font-size: 36px/$mobile-ratio*100vw;
      padding: (32px/$mobile-ratio*100vw) (25px/$mobile-ratio*100vw);
    }

    @media #{$media-sm-with-ratio} {
      border-radius: 30px/$mobile-ratio-height*100vh;
      font-size: 36px/$mobile-ratio*100vh;
      padding: (32px/$mobile-ratio-height*100vh) (25px/$mobile-ratio-height*100vh);
    }
  }

  &.btn-white {
    background: #fff;
    color: $yellow;

    &:hover {
      background: $grey-hover;
      color: #fff;
    }
  }

  &.btn-purple {
    background: $purple;
    color: #fff;

    &:hover {
      background: $purple-hover;
      //color: #fff;
    }

    &.btn-purple-white {
      &:hover {
        background: $purple-hover;
        //color: $purple;
      }
    }

    &.text-yellow {
      color: $yellow;

      &:hover {
        color: #fff;
      }
    }
  }

  &.btn-yellow {
    background: $yellow;
    color: #fff;

    &:hover {
      background: $yellow-hover;
      //color: $yellow;
    }
  }

  &.btn-green {
    background: $green;
    color: #fff;

    &:hover {
      background: $green-hover;
      //color: $yellow;
    }
  }

  &.btn-with-arrow {
    padding-right: 20px/$desktop-home-ratio*100vw;

    @media #{$desktop-bad-ratio} {
      padding-right:20px/$desktop-height-ratio*100vh;
    }
    
    @media #{$media-tablet} {
      padding-right: 20px/$tablet-ratio*100vw;
    }

    @media #{$media-sm} {
      display: inline-flex;
      align-items: center;
      padding-right: 17px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      padding-right: 17px/$mobile-ratio-height*100vh;
    }

    &:hover {
      &:after {
        background-color: #fff;
      }
    }

    &:after {
      content: '';
      display: block;
      float: right;
      width: 14px/$desktop-home-ratio*100vw;
      height: 30px/$desktop-home-ratio*100vw;
      margin-left: 15px/$desktop-home-ratio*100vw;
      -webkit-mask-image: url('./../img/arrow-purple.svg');
      background-color: $purple;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      transition: background-color .2s;

      @media #{$desktop-bad-ratio} {
        width: 14px/$desktop-height-ratio*100vh;
        height: 30px/$desktop-height-ratio*100vh;
        margin-left: 15px/$desktop-height-ratio*100vh;
      }

      @media #{$media-tablet} {
        width: 14px/$tablet-ratio*100vw;
        height: 30px/$tablet-ratio*100vw;
        margin-left: 15px/$tablet-ratio*100vw;
      }

      @media #{$media-sm} {
        width: 14px/$mobile-ratio*100vw;
        height: 30px/$mobile-ratio*100vw;
        margin-left: 15px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 14px/$mobile-ratio-height*100vh;
        height: 30px/$mobile-ratio-height*100vh;
        margin-left: 15px/$mobile-ratio-height*100vh;
      }
    }
  }

  &.btn-with-left-arrow {
    color: $green;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: $yellow;
    }

    &:before {
      content: '';
      display: block;
      float: left;
      width: 54px/$desktop-home-ratio*100vw;
      height: 54px/$desktop-home-ratio*100vw;
      border-radius: 18px/$desktop-home-ratio*100vw;
      background-image: url('./../img/tick.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: (32px/$desktop-home-ratio*100vw) (22px/$desktop-home-ratio*100vw);
      background-color: $green;
      margin-right: (20px/$desktop-home-ratio*100vw);

      @media #{$desktop-bad-ratio} {
        width: 54px/$desktop-height-ratio*100vh;
        height: 54px/$desktop-height-ratio*100vh;
        border-radius: 18px/$desktop-height-ratio*100vh;
        background-size: (32px/$desktop-height-ratio*100vh) (22px/$desktop-height-ratio*100vh);
        margin-right: (20px/$desktop-height-ratio*100vh);
      }

      @media #{$media-tablet} {
        width: 54px/$tablet-ratio*100vw;
        height: 54px/$tablet-ratio*100vw;
        border-radius: 18px/$tablet-ratio*100vw;
        background-size: (32px/$tablet-ratio*100vw) (22px/$tablet-ratio*100vw);
        margin-right: (20px/$tablet-ratio*100vw);
      }

      @media #{$media-sm} {
        width: 54px/$mobile-ratio*100vw;
        height: 54px/$mobile-ratio*100vw;
        border-radius: 18px/$mobile-ratio*100vw;
        background-size: (32px/$mobile-ratio*100vw) (22px/$mobile-ratio*100vw);
        margin-right: (20px/$mobile-ratio*100vw);
      }
    }

    span {
      display: block;
      float: left;
      padding: (12px/$desktop-home-ratio*100vw) 0 (12px/$desktop-home-ratio*100vw) (15px/$desktop-home-ratio*100vw);

      @media #{$desktop-bad-ratio} {
        padding: (12px/$desktop-height-ratio*100vh) 0 (12px/$desktop-height-ratio*100vh) (15px/$desktop-height-ratio*100vh);
      }

      @media #{$media-tablet} {
        padding: (12px/$tablet-ratio*100vw) 0 (12px/$tablet-ratio*100vw) (15px/$tablet-ratio*100vw);
      }
      
      @media #{$media-sm} {
        padding: (12px/$mobile-ratio*100vw) 0 (12px/$mobile-ratio*100vw) (15px/$mobile-ratio*100vw);
      }
    }
  }
}