.faq-section {
  .faq-accordion-title-main {
    max-height: 450px;
    transition: height .5s;

    > span {
      font-family: $font-ultima-name;
      font-size: 36px/$desktop-home-ratio*100vw;
      display: flex;
      align-items: center;
      margin-bottom: 27px/$desktop-home-ratio*100vw;
      cursor: pointer;

      @media #{$media-sm} {
        font-size: 36px/$mobile-ratio*100vw;
        margin-bottom: 27px/$mobile-ratio*100vw;
      }

      svg {
        transition: transform .5s;
        width: 28px/$desktop-home-ratio*100vw;
        margin-right: 30px/$desktop-home-ratio*100vw;
        will-change: transform;

        @media #{$media-sm} {
          width: 28px/$mobile-ratio*100vw;
          margin-right: 30px/$mobile-ratio*100vw;
        }

        path {
          transition: fill .5s;
        }
      }
    }

    &.open {

      svg {
        transform: rotate(180deg);

        path {
          fill: $yellow;
        }
      }

      .faq-accordion-sub-title {
        height: auto;

        &.open {

          & > .faq-accordion-content {
            margin-top: 15px/$desktop-home-ratio*100vw;

            @media #{$media-sm} {
              margin-top: 15px/$mobile-ratio*100vw;
            }
          }

          .faq-accordion-content {
            height: auto;
          }
        }
      }
    }
  }

  .faq-main-sub {
    &:after {
      content: '';
      display: block;
      margin-bottom: 42px/$desktop-home-ratio*100vw;

      @media #{$media-sm} {
        margin-bottom: 42px/$mobile-ratio*100vw;
      }
    }
  }

  .faq-accordion-sub-title {
    //height: 0;
    overflow: hidden;
    margin-bottom: 10px/$desktop-home-ratio*100vw;

    @media #{$media-sm} {
      margin-bottom: 10px/$mobile-ratio*100vw;
    }

    &:last-of-type {
      .faq-accordion-content {
        &:after {
          display: none;
        }
      }
    }

    & > span {
      font-family: $font-ultima-name;
      font-size: 24px/$desktop-home-ratio*100vw;
      display: flex;
      align-items: center;
      cursor: pointer;

      @media #{$media-sm} {
        font-size: 24px/$mobile-ratio*100vw;
      }

      &:before {
        content: '';
        font-size: 36px/$desktop-home-ratio*100vw;
        font-weight: 300;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-image: url(../img/minus-icon.svg);
        background-position: center;
        background-size: contain;
        width: 28px/$desktop-home-ratio*100vw;
        height: 28px/$desktop-home-ratio*100vw;
        margin-right: 30px/$desktop-home-ratio*100vw;
        opacity: .2;

        @media #{$media-sm} {
          width: 28px/$mobile-ratio*100vw;
          height: 28px/$mobile-ratio*100vw;
          margin-right: 30px/$mobile-ratio*100vw;
          font-size: 36px/$mobile-ratio*100vw;
        }
      }

      &.collapsed {
        &:before {
          background-image: url(../img/plus-icon.svg);
        }
      }
    }

    .faq-accordion-content {
      overflow: hidden;
      font-size: 18px/$desktop-home-ratio*100vw;
      line-height: 1.44;
      color: $black-60;
      padding-left: 60px/$desktop-home-ratio*100vw;

      &:before {
        content: '';
        display: block;
        margin-top: 10px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          margin-top: 10px/$mobile-ratio*100vw;
        }
      }

      &:after {
        content: '';
        display: block;
        margin-bottom: 45px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          margin-bottom: 45px/$mobile-ratio*100vw;
        }
      }

      @media #{$media-sm} {
        font-size: 18px/$mobile-ratio*100vw;
        padding-left: 60px/$mobile-ratio*100vw;
      }
    }
  }

}