input[type=text], input[type=number], input[type=email], input[type=tel], input[type=password] {
  border: none;
  background: $purple;
  height: 54px;
  border-radius: 10px;
  font: $font-body;
  font-size: 22px;
  color: #fff;
  padding: 0 40px 0 20px;
  text-indent: 20px;

  @media #{$media-sm} {
    background: #fff;
    color: #000;
    height: 84px/$mobile-ratio*100vw;
    padding: 0 (30px/$mobile-ratio*100vw) 0 (15px/$mobile-ratio*100vw);
    font-size: 44px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    height: 84px/$mobile-ratio-height*100vh;
    padding: 0 (30px/$mobile-ratio-height*100vh) 0 (15px/$mobile-ratio-height*100vh);
    font-size: 44px/$mobile-ratio-height*100vh;
  }

  &::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 600;
    color: $white-60;
    line-height: normal;

    @media #{$media-sm} {
      color: $black-30;
      font-size: 32px/$mobile-ratio*100vw;
      line-height: 2;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 32px/$mobile-ratio-height*100vh;
    }
  }

  &:focus {
    outline: none;
  }

  &.input-white {
    background: #fff;
    color: #000;

    &::-webkit-input-placeholder {
      color: $black-30;
      line-height: normal;
    }
  }

  &.input-big {
    height: 90px;
    font: $font-ultima;
    font-size: 36px;
    border-radius: 18px;

    &::-webkit-input-placeholder {
      font: $font-ultima;
      font-size: 36px;
      line-height: normal;
    }

    @media #{$media-sm} {
      height: 90px/$mobile-ratio*100vw;
      font-size: 36px/$mobile-ratio*100vw;

      &::-webkit-input-placeholder {
        font-size: 36px/$mobile-ratio*100vw;
      }
    }

    @media #{$media-sm-with-ratio} {
      height: 90px/$mobile-ratio-height*100vh;
      font-size: 36px/$mobile-ratio-height*100vh;

      &::-webkit-input-placeholder {
        font-size: 36px/$mobile-ratio-height*100vh;
      }
    }
  }

  &[disabled] {
    border-left: none !important;

    &, & + label {
      background: #fff;
      border: 1px solid $lighter-grey;
      color: $main-black;
      opacity: 1;
    }

    & + label {
      border-right: none !important;
      color: $black-20;
    }
  }
}

.input-wrap {
  position: relative;

  &.valid {
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url("./../img/green-tick.svg");
      background-size: 20px 14px;
      width: 20px;
      height: 14px;
      top: 50%;
      right: 15px;
      margin-top: -7px;
    }

    &.input-wrap-button {
      &:after {
        right: 60px;
      }
    }
  }
}

.input-with-label {
  display: flex;
  align-items: center;

  input {
    order: 2;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex-grow: 1;
    padding-left: 10px;

    @media #{$media-sm} {
      background: $purple;
      color: $white-60;
      height: 52px;
    }
  }

  .input-label {
    background: $purple;
    color: $white-60;
    font-size: 16px;
    align-self: stretch;
    line-height: 52px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 20px;
    order: 1;

    @media #{$media-sm} {
      line-height: 50px;
    }
  }
}