input[type=text], input[type=number], input[type=email], input[type=tel], input[type=password] {
  border: none;
  background: $purple;
  height: 54px/$desktop-home-ratio*100vw;
  border-radius: 10px/$desktop-home-ratio*100vw;
  font: $font-body;
  font-size: 22px/$desktop-home-ratio*100vw;
  color: #fff;
  padding: 0 (40px/$desktop-home-ratio*100vw) 0 (20px/$desktop-home-ratio*100vw);

  @media #{$desktop-bad-ratio} {
    height: 54px/$desktop-height-ratio*100vh;
    border-radius: 10px/$desktop-height-ratio*100vh;
    font-size: 22px/$desktop-height-ratio*100vh;
    padding: 0 (40px/$desktop-height-ratio*100vh) 0 (20px/$desktop-height-ratio*100vh);
  }

  @media #{$media-sm} {
    background: #fff;
    color: #000;
    height: 84px/$mobile-ratio*100vw;
    padding: 0 (40px/$mobile-ratio*100vw) 0 (15px/$mobile-ratio*100vw);
    font-size: 44px/$mobile-ratio*100vw;
    border-radius: 20px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    height: 84px/$mobile-ratio-height*100vh;
    padding: 0 (40px/$mobile-ratio-height*100vh) 0 (15px/$mobile-ratio-height*100vh);
    font-size: 44px/$mobile-ratio-height*100vh;
    border-radius: 20px/$mobile-ratio-height*100vh;
  }

  &::-webkit-input-placeholder {
    font-size: 16px/$desktop-home-ratio*100vw;
    font-weight: 600;
    color: $white-60;
    line-height: 1.7;

    @media #{$desktop-bad-ratio} {
      font-size: 16px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      color: $black-30;
      font-size: 32px/$mobile-ratio*100vw;
      line-height: 1.7;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 32px/$mobile-ratio-height*100vh;
    }
  }

  &:focus {
    outline: none;
  }

  &.center-placeholder {
    text-indent: (20px/$desktop-home-ratio*100vw);

    @media #{$desktop-bad-ratio} {
      text-indent: (20px/$desktop-height-ratio*100vh);
    }
  }

  &.input-white {
    background: #fff;
    color: #000;

    &::-webkit-input-placeholder {
      color: $black-30;
      line-height: 1.7;
    }
  }

  &.input-big {
    height: 90px/$desktop-home-ratio*100vw;
    font-size: 36px/$desktop-home-ratio*100vw;
    border-radius: 18px/$desktop-home-ratio*100vw;
    font-weight: 400;
    padding-right: 50px/$desktop-home-ratio*100vw;

    &::-webkit-input-placeholder {
      font-size: 36px/$desktop-home-ratio*100vw;
      font-weight: 400;
      line-height: 1.3;
    }

    @media #{$desktop-bad-ratio} {
      height: 90px/$desktop-height-ratio*100vh;
      font-size: 36px/$desktop-height-ratio*100vh;
      border-radius: 18px/$desktop-height-ratio*100vh;
      padding-right: 50px/$desktop-height-ratio*100vh;

      &::-webkit-input-placeholder {
        font-size: 36px/$desktop-height-ratio*100vh;
      }
    }

    @media #{$media-sm} {
      height: 90px/$mobile-ratio*100vw;
      font-size: 36px/$mobile-ratio*100vw;
      border-radius: 18px/$mobile-ratio*100vw;
      padding-right: 50px/$mobile-ratio*100vw;

      &::-webkit-input-placeholder {
        font-size: 36px/$mobile-ratio*100vw;
      }
    }

    @media #{$media-sm-with-ratio} {
      height: 90px/$mobile-ratio-height*100vh;
      font-size: 36px/$mobile-ratio-height*100vh;
      border-radius: 18px/$mobile-ratio-height*100vh;
      padding-right: 50px/$mobile-ratio-height*100vh;


      &::-webkit-input-placeholder {
        font-size: 36px/$mobile-ratio-height*100vh;
      }
    }
  }

  &[disabled] {
    border-left: none !important;

    &, & + label {
      background: #fff;
      border: 1px solid $lighter-grey;
      color: $main-black;
      opacity: 1;
    }

    & + label {
      border-right: none !important;
      color: $black-20;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input-wrap {
  position: relative;

  &.valid {
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url("./../img/green-tick.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 20px/$desktop-home-ratio*100vw;
      height: 14px/$desktop-home-ratio*100vw;
      top: 50%;
      right: 24px/$desktop-home-ratio*100vw;
      margin-top: -7px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        width: 20px/$desktop-height-ratio*100vh;
        height: 14px/$desktop-height-ratio*100vh;
        right: 24px/$desktop-height-ratio*100vh;
        margin-top: -7px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm} {
        width: 20px/$mobile-ratio*100vw;
        height: 14px/$mobile-ratio*100vw;
        right: 24px/$mobile-ratio*100vw;
        margin-top: -7px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 20px/$mobile-ratio-height*100vh;
        height: 14px/$mobile-ratio-height*100vh;
        right: 24px/$mobile-ratio-height*100vh;
        margin-top: -7px/$mobile-ratio-height*100vh;
      }
    }

    &.input-big-wrap {

      &:after {
      width: 30px/$desktop-home-ratio*100vw;
      height: 21px/$desktop-home-ratio*100vw;

        @media #{$desktop-bad-ratio} {
          width: 30px/$desktop-height-ratio*100vh;
          height: 21px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          width: 30px/$mobile-ratio*100vw;
          height: 21px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 30px/$mobile-ratio-height*100vh;
          height: 21px/$mobile-ratio-height*100vh;
        }
      }
    }

    &.input-wrap-button {
      &:after {
        right: 60px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          right: 60px/$mobile-ratio*100vw;
        }
      }
    }
  }
}

.input-with-label {
  display: flex;
  align-items: center;

  input {
    order: 2;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex-grow: 1;
    padding-left: 10px/$desktop-home-ratio*100vw;

    @media #{$media-sm} {
      background: $purple;
      color: #fff;
      padding-left: 10px/$mobile-ratio*100vw;
      //height: 52px;
    }
  }

  .input-label {
    background: $purple;
    color: $white-60;
    font-size: 16px/$desktop-home-ratio*100vw;
    align-self: stretch;
    line-height: 3.3;
    border-bottom-left-radius: 10px/$desktop-home-ratio*100vw;
    border-top-left-radius: 10px/$desktop-home-ratio*100vw;
    padding-left: 20px/$desktop-home-ratio*100vw;
    order: 1;

    @media #{$desktop-bad-ratio} {
      font-size: 16px/$desktop-height-ratio*100vh;
      //line-height: 52px/$desktop-height-ratio*100vh;
      border-bottom-left-radius: 10px/$desktop-height-ratio*100vh;
      border-top-left-radius: 10px/$desktop-height-ratio*100vh;
      padding-left: 20px/$desktop-height-ratio*100vh;

    }

    @media #{$media-sm} {
      font-size: 16px/$mobile-ratio*100vw;
      line-height: 5.2;
      border-bottom-left-radius: 10px/$mobile-ratio*100vw;
      border-top-left-radius: 10px/$mobile-ratio*100vw;
      padding-left: 20px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 16px/$mobile-ratio-height*100vh;
      //line-height: 52px/$mobile-ratio-height*100vh;
      border-bottom-left-radius: 10px/$mobile-ratio-height*100vh;
      border-top-left-radius: 10px/$mobile-ratio-height*100vh;
      padding-left: 20px/$mobile-ratio-height*100vh;
    }
  }
}