.fullpage-content {
  .plan-description {
    position: fixed;
    right: 1000px/$desktop-home-ratio*100vw;
    bottom: 270px/$desktop-home-ratio*100vw;
    z-index: 0;
    width: 320px/$desktop-home-ratio*100vw;

    @media #{$desktop-bad-ratio} {
      bottom: 270px/$desktop-height-ratio*100vh;
      width: 320px/$desktop-height-ratio*100vh;
      right: calc(50% + 13.25vh);
    }

    h1 {
      color: #fff;
    }

    h1, p, a {
      opacity: 0;
    }
  }

  .hero {
    position: fixed;
    bottom: 0;
    left: 806px/$desktop-home-ratio*100vw;
    height: $hero-2-height/$desktop-height-ratio*100vh;
    //width: $hero-2-width/$desktop-home-ratio*100vw;
    z-index: 1;
    //transition: transform .75s, opacity .5s;
    opacity: 0;

    body.loaded.initial-animation.show-connect-form &,
    body.loaded.initial-animation.show-connect-step-success & {
      transition: transform .75s, opacity .5s, left .75s;
    }

    body.loaded.initial-animation.show-connect-form & {
      transform: translateX(-680px/$desktop-home-ratio*100vw);
      z-index: 2;

      @media #{$desktop-bad-ratio} {
        transform: translateX(-560px/$desktop-height-ratio*100vh);
        left: 50%;
      }
    }

    @media #{$desktop-bad-ratio} {
      right: 212px/$desktop-height-ratio*100vw;
      width: $hero-2-width/$desktop-height-ratio*100vh;
    }
  }

  .fig {
    position: fixed;
    //transition: transform 1s;
    z-index: 1;
    transform: scale(0);

    .show-connect-form &,
    .show-connect-step-success & {
      transition: transform .75s;
    }

    .show-connect-form & {
      transform: translateX(calc(-100% - 3.7vw))!important;
      transition: transform .75s;
    }

    &.fig-square-big {
      left: 860px/$desktop-home-ratio*100vw;
      bottom: 150px/$desktop-home-ratio*100vw;
      background: $yellow;
      border-radius: 90px/$desktop-home-ratio*100vw;
      //transition: transform 1s, border-radius 1s, opacity .5s;
      z-index: 0;

      .loaded & {
        opacity: 1;
      }

      @media #{$desktop-bad-ratio} {
        bottom: 150px/$desktop-height-ratio*100vh;
        border-radius: 90px/$desktop-height-ratio*100vh;
      }

      .show-connect-form & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: transform .75s, border-radius .75s, opacity .5s;
      }
    }

    &.fig-cross-2 {
      right: 60px/$desktop-home-ratio*100vw;
      top: 180px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        right: 60px/$desktop-height-ratio*100vh;
        top: 180px/$desktop-height-ratio*100vh;
      }
    }

    &.fig-cross-5 {
      right: 645px/$desktop-home-ratio*100vw;
      bottom: 260px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        right: 645px/$desktop-height-ratio*100vh;
        bottom: 260px/$desktop-height-ratio*100vh;
      }
    }

    &.fig-circle-1 {
      right: 260px/$desktop-home-ratio*100vw;
      top: 273px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        right: 260px/$desktop-height-ratio*100vh;
        top: 270px/$desktop-height-ratio*100vh;
      }
    }

    &.fig-circle-2 {
      right: 890px/$desktop-home-ratio*100vw;
      bottom: 221px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        right: 890px/$desktop-height-ratio*100vh;
        bottom: 221px/$desktop-height-ratio*100vh;
      }
    }

    &.fig-square-1 {
      left: 360px/$desktop-home-ratio*100vw;
      bottom: 180px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        left: 360px/$desktop-height-ratio*100vh;
        bottom: 180px/$desktop-height-ratio*100vh;
      }
    }

    &.fig-square-3 {
      right: 120px/$desktop-home-ratio*100vw;
      top: 337px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        right: 120px/$desktop-height-ratio*100vh;
        top: 337px/$desktop-height-ratio*100vh;
      }
    }
  }
}

body.connect-fullpage-overflow {
  overflow: hidden;
}