.news-list {
  article {
    &:not(:last-of-type) {
      margin-bottom: 130px/$desktop-home-ratio*100vw;

      @media #{$media-tablet} {
        margin-bottom: 130px/$tablet-ratio*100vw;
      }

      @media #{$media-sm} {
        margin-bottom: 130px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        margin-bottom: 130px/$mobile-ratio-height*100vh;
      }
    }

    p {
      &:only-of-type {
        margin-bottom: .8em;
      }

      & + p {
        padding-top: .8em;
      }
    }

    a {

      &.title {
        transition: opacity .2s;
        display: inline-block;

        &:hover {
          opacity: .8;
        }
      }

      h4 {
        color: $main-black;
      }
    }

    &.new-article {
      h4, p, img, footer {
        opacity: 0;
      }
    }

    .news-image, video {
      max-width: 100%;
      display: table;
      margin: 0 auto;
      border-radius: 12px;
    }

    .video-content {
      position: relative;

      .play-video-icon {
        display: block;
        width: 140px/$desktop-home-ratio*100vw;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .5s;

        &:hover {
          opacity: .6;
        }

        img {
          transition: opacity .5s;
        }

        .play-img {
          opacity: 1;
          position: absolute;
        }

        .pause-img {
          opacity: 0;
        }

        @media #{$media-tablet} {
          width: 140px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          width: 140px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 140px/$mobile-ratio-height*100vh;
        }
      }

      &.playing-video {
        &:before, .play-video-icon, .play-video-icon .play-img {
          opacity: 0;
          pointer-events: none;
        }

        &:hover {
          &:before {
            opacity: 1;
            background-color: rgba(0, 0, 0, .6);
          }

          .play-video-icon, .play-video-icon .pause-img {
            opacity: 1;
            pointer-events: auto;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }

    .news-footer {
      margin-top: 10px/$desktop-home-ratio*100vw;
      display: flex;
      align-items: center;

      @media #{$media-tablet} {
        margin-top: 10px/$tablet-ratio*100vw;
      }

      @media #{$media-sm} {
        margin-top: 20px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        margin-top: 20px/$mobile-ratio-height*100vh;
      }

      .share-link {
        width: 28px/$desktop-home-ratio*100vw;
        height: 28px/$desktop-home-ratio*100vw;
        margin-right: 15px/$desktop-home-ratio*100vw;
        position: relative;

        @media #{$media-tablet} {
          width: 28px/$tablet-ratio*100vw;
          height: 28px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          width: 40px/$mobile-ratio*100vw;
          height: 40px/$mobile-ratio*100vw;
          margin-right: 16px/$mobile-ratio*100vw;
        }
      }

      .news-tag {
        background: $red;
        color: $yellow;
        font-size: 18px/$desktop-home-ratio*100vw;
        padding: 5px/18px*1em 15px/18px*1em;
        border-radius: 14px/18px*1em;
        margin-right: 15px/18px*1em;

        @media #{$media-tablet} {
          font-size: 18px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          font-size: 24px/$mobile-ratio*100vw;
          padding: 8px/24px*1em 15px/24px*1em;
        }

        &.green-bg {
          color: #fff;
        }
      }

      .date {
        font-size: 16px/$desktop-home-ratio*100vw;
        color: $black-30;

        @media #{$media-tablet} {
          font-size: 16px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          font-size: 20px/$mobile-ratio*100vw;
        }
      }

      .share-clickable {
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: width .5s;
        width: 43px/$desktop-home-ratio*100vw;
        position: relative;
        z-index: 0;

        @media #{$media-tablet} {
          width: 43px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          width: 56px/$mobile-ratio*100vw;
          height: 52px/$mobile-ratio*100vw;
        }

        .share-link {
          position: absolute;
          left: 0;
          font-size: 0;
          z-index: 1;
          background: linear-gradient(to right, #fff 0%, #fff 50%, transparent 50%);
          will-change: transform;

          .c-share-link {
            transition: fill .2s;
          }

          &:hover {
            .c-share-link {
              fill: $purple-hover;
            }
          }

          &:before {
            content: '';
            width: 5px;
            position: absolute;
            left: -5px;
            height: 100%;
            background: #fff;
          }
        }

        .social-icons {
          display: flex;
          transform: translateX(-100%);
          transition: transform .5s;
          z-index: 0;

          li {
            flex-grow: 1;
            margin-right: 15px/$desktop-home-ratio*100vw;

            @media #{$media-tablet} {
              margin-right: 15px/$tablet-ratio*100vw;
            }

            @media #{$media-sm} {
              margin-right: 15px/$mobile-ratio*100vw;
            }

            a {
              background-color: rgba(0, 0, 0, .2);
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 28px/$desktop-home-ratio*100vw;
              height: 28px/$desktop-home-ratio*100vw;
              transition: background-color .2s;

              &:hover {
                background-color: rgba(0, 0, 0, .3);
              }

              @media #{$media-tablet} {
                width: 28px/$tablet-ratio*100vw;
                height: 28px/$tablet-ratio*100vw;
              }

              @media #{$media-sm} {
                width: 28px/$mobile-ratio*100vw;
                height: 28px/$mobile-ratio*100vw;
              }

              svg {
                height: 16px/$desktop-home-ratio*100vw;
                will-change: transform;

                @media #{$media-tablet} {
                  height: 16px/$tablet-ratio*100vw;
                }

                @media #{$media-sm} {
                  height: 16px/$mobile-ratio*100vw;
                }

                path {
                  fill: #fff;
                }
              }
            }
          }
        }

        &.show-share {
          width: 172px/$desktop-home-ratio*100vw;

          @media #{$media-tablet} {
            width: 172px/$tablet-ratio*100vw;
          }

          @media #{$media-sm} {
            width: 172px/$mobile-ratio*100vw;
          }

          .social-icons {
            transform: translateX(43px/$desktop-home-ratio*100vw);
            display: flex;

            @media #{$media-tablet} {
              transform: translateX(43px/$tablet-ratio*100vw);
            }

            @media #{$media-sm} {
              transform: translateX(43px/$mobile-ratio*100vw);
            }
          }
        }
      }
    }
  }

  + .load-more-shop-items {
    @media #{$media-sm} {
      display: table;
    }
  }
}