.news-filter {
  position: absolute;
  top: 48px;
  right: 60px;

  @media #{$media-sm} {
    top: 150px/$mobile-ratio*100vw;
    right: 60px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    top: 150px/$mobile-ratio-height*100vh;
    right: 60px/$mobile-ratio-height*100vh;
  }
  .show-filter-options &, .show-sub-options & {
    z-index: 1;
  }

  li {
    display: inline-block;

    a {
      display: block;
      width: 42px;

      @media #{$media-sm} {
        width: 42px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 42px/$mobile-ratio-height*100vh;
      }

      svg {
        .c-sub, .c-filter {
          transition: fill .5s;
        }
      }

      &:hover, &.active {
        svg {
          .c-sub, .c-filter {
            fill: $grey;
          }
        }
      }
    }
  }
}

.news-filter-popup-filter, .news-filter-popup-sub {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;

  .news-center-block {
    //margin-left: 60px/$desktop-home-ratio*100vw;
    width: 100%;
    transform: translateY(-28%);

    h4 {
      color: #fff;
      font-size: 28px/$desktop-home-ratio*100vw;
      line-height: 1.3333;
      padding-bottom: .8em;

      @media #{$media-sm} {
        font-size: 28px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        font-size: 28px/$mobile-ratio-height*100vh;
      }
    }

    .news-switchers {
      display: flex;

      .news-switcher {
        background: #fff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: (15px/$desktop-home-ratio*100vw) (16px/$desktop-home-ratio*100vw) (15px/$desktop-home-ratio*100vw) (30px/$desktop-home-ratio*100vw);
        margin-right: 10px;

        span {
          font-size: (22px/$desktop-home-ratio*100vw);
          margin-right: 20px;

          @media #{$media-sm} {
            font-size: 22px/$mobile-ratio*100vw;
            margin-right: 20px/$mobile-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            font-size: 22px/$mobile-ratio-height*100vh;
            margin-right: 20px/$mobile-ratio-height*100vh;
          }
        }

        @media #{$media-sm} {
          padding: (15px/$mobile-ratio*100vw) (16px/$mobile-ratio*100vw) (15px/$mobile-ratio*100vw) (30px/$mobile-ratio*100vw);
        }

        @media #{$media-sm-with-ratio} {
          padding: (15px/$mobile-ratio-height*100vh) (16px/$mobile-ratio-height*100vh) (15px/$mobile-ratio-height*100vh) (30px/$mobile-ratio-height*100vh);
        }
      }
    }
  }

  .modal-close {
    position: absolute;
    bottom: 50px;
    left: 60px;
    display: flex;
    align-items: center;
    font-size: 18px/$desktop-home-ratio*100vw;

    @media #{$media-sm} {
      bottom: 50px/$mobile-ratio*100vw;
      left: 60px/$mobile-ratio*100vw;
      font-size: 18px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      bottom: 50px/$mobile-ratio-height*100vh;
      left: 60px/$mobile-ratio-height*100vh;
      font-size: 18px/$mobile-ratio-height*100vh;
    }

    svg {
      width: 30px/$desktop-home-ratio*100vw;
      margin-right: 20px;

      @media #{$media-sm} {
        width: 30px/$mobile-ratio*100vw;
        margin-right: 20px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 30px/$mobile-ratio-height*100vh;
        margin-right: 20px/$mobile-ratio-height*100vh;
      }

      line {
        stroke: $green;
      }
    }
  }

  .input-wrapper {
    width: 100%;
    position: relative;

    input {
      width: 100%;
    }

    .input-button {
      background: $green;
      width: 46px/$desktop-home-ratio*100vw;
      height: 46px/$desktop-home-ratio*100vw;
      position: absolute;
      right: 5px/$desktop-home-ratio*100vw;
      top: 3px/$desktop-home-ratio*100vw;
      border: none;
      border-radius: 10px/$desktop-home-ratio*100vw;
      cursor: pointer;

      @media #{$desktop-bad-ratio} {
        width: 46px/$desktop-height-ratio*100vh;
        height: 46px/$desktop-height-ratio*100vh;
        right: 5px/$desktop-height-ratio*100vh;
        top: 3px/$desktop-height-ratio*100vh;
        border-radius: 10px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm} {
        width: 70px/$mobile-ratio*100vw;
        height: 70px/$mobile-ratio*100vw;
        right: 10px/$mobile-ratio*100vw;
        top: 6px/$mobile-ratio*100vw;
        border-radius: 10px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 70px/$mobile-ratio-height*100vh;
        height: 70px/$mobile-ratio-height*100vh;
        right: 10px/$mobile-ratio-height*100vh;
        top: 6px/$mobile-ratio-height*100vh;
        border-radius: 10px/$mobile-ratio-height*100vh;
      }

      svg {
        height: 20px/$desktop-home-ratio*100vw;

        @media #{$desktop-bad-ratio} {
          height: 20px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          height: 20px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          height: 20px/$mobile-ratio-height*100vh;
        }
      }

    }
  }
}

.news-filter-popup-filter {
  .show-filter-options & {
    opacity: 1;
    pointer-events: auto;
  }
}

.news-filter-popup-sub {
  .show-sub-options & {
    opacity: 1;
    pointer-events: auto;
  }
}