.payment-fullpage, .payment-page {
  .hero {
    position: fixed;
    left: 235px/$desktop-home-ratio*100vw;
    bottom: 0;
    z-index: 1;
    height: $hero-3-height/$desktop-height-ratio*100vh;

    @media #{$desktop-bad-ratio} {
      //max-height: $hero-height;
      left: auto;
      right: 830px/$desktop-home-ratio*100vw;
      width: auto;
    }

    @media #{$media-sm} {
      height: $hero-3-height/$mobile-ratio-height*100vh;
    }

    @media #{$media-sm-with-ratio} {

    }
  }

  .payment-form {
    text-align: center;

    @media #{$media-sm} {
      text-align: left;
    }

    h1 {
      color: #fff;
      opacity: 0;
      padding-bottom: 52px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        padding-bottom: 52px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm} {
        padding-bottom: 86px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        padding-bottom: 86px/$mobile-ratio-height*100vh;
      }
    }

    .flex-form-wrap, .btn, p {
      opacity: 0;
    }

    .form-line-wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 24px/$desktop-home-ratio*100vw;
      margin: 0 -10px;

      @media #{$desktop-bad-ratio} {
        margin-bottom: 24px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm} {
        flex-wrap: wrap;
      }

      .input-wrap {
        max-width: 350px/$desktop-home-ratio*100vw;
        flex-grow: 1;
        padding: 0 (10px/$desktop-home-ratio*100vw);

        @media #{$desktop-bad-ratio} {
          max-width: 350px/$desktop-height-ratio*100vh;
          padding: 0 (10px/$desktop-height-ratio*100vh);
        }

        @media #{$media-sm} {
          max-width: none;
        }

        &:not(:last-child) {
          @media #{$media-sm} {
            margin-bottom: 10px/$mobile-ratio*100vw;
          }
        }

        > input {
          width: 100%;
          text-align: center;

          @media #{$media-sm} {
            text-align: left;
          }
        }
      }
    }

    .form-info {
      font-size: 18px/$desktop-home-ratio*100vw;
      color: $white-60;
      margin: 0 auto (27px/$desktop-home-ratio*100vw);
      opacity: 0;
      max-width: 420px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        font-size: 18px/$desktop-height-ratio*100vh;
        margin: 0 auto (27px/$desktop-height-ratio*100vh);
        max-width: 420px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm} {
        font-size: 18px/$mobile-ratio*100vw;
        margin-bottom: 28px/$mobile-ratio*100vw;
        max-width: 100%;
      }

      @media #{$media-sm-with-ratio} {
        font-size: 18px/$mobile-ratio-height*100vh;
        margin-bottom: 28px/$mobile-ratio-height*100vh;
      }
    }
  }

  .show-on-success {
    display: none;
  }

  .form-info-success {
    font-size: 36px/$desktop-home-ratio*100vw;
    color: #fff;
    margin-bottom: 46px/$desktop-home-ratio*100vw;

    @media #{$desktop-bad-ratio} {
      font-size: 36px/$desktop-height-ratio*100vh;
      margin-bottom: 46px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      font-size: 36px/$mobile-ratio*100vw;
      margin-bottom: 46px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 36px/$mobile-ratio-height*100vh;
      margin-bottom: 46px/$mobile-ratio-height*100vh;
    }
  }

  .show-payment-success & {
    h1, .flex-form-wrap, .form-info, #payment-button {
      display: none;
    }

    .show-on-success {
      display: block;

      &.btn {
        display: inline-block;
      }
    }
  }
}

.payment-page {
  .hero {
    left: 235px/$desktop-home-ratio*100vw!important;
  }

  .payment-form {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 60px;

    .form-info {
      margin-left: 0;
      margin-right: 0;
    }

    @media #{$media-sm} {
      top: 33%;
      padding: 0 60px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      padding: 0 60px/$mobile-ratio-height*100vh;
    }

    .form-line-wrap {
      .input-wrap {
        max-width: inherit;
      }
    }
  }
}