.shop-items {
  display: flex;
  margin: 0 -10px;
  position: relative;

  @media #{$media-sm} {
    overflow-x: scroll;
    margin: 0 -37px;
  }

  .shop-item-column {
    flex-basis: 50%;

    @media #{$media-sm} {
      display: flex;
      align-items: flex-start;
    }

    &:nth-child(1) {
      .shop-item.shop-item-popup {
        right: calc(-100% - 30px);

        @media #{$media-sm} {
          right: inherit;
        }
      }
    }

    &:nth-child(2) {
      .shop-item.shop-item-popup {
        left: calc(-100% - 30px);
        @media #{$media-sm} {
          left: 50%;
        }
      }
    }

    .shop-item {
      hyphens: auto;
      background: #fff;
      border-radius: 12px;
      padding: (35px/$desktop-home-ratio*100vw) (30px/$desktop-home-ratio*100vw);
      color: $black-40;
      margin: 0 10px;
      position: relative;

      @media #{$media-sm} {
        width: 330px/$mobile-ratio*100vw;
        padding: (30px/$mobile-ratio*100vw) (30px/$mobile-ratio*100vw);

        &.hidden {
          display: block!important;
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      h3 {
        font-size: 28px/$desktop-home-ratio*100vw;
        color: #000;
        padding-bottom: 21px/28px*1em;

        @media #{$desktop-bad-ratio} {
          font-size: 28px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          font-size: 28px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          font-size: 28px/$mobile-ratio-height*100vw;
        }
      }

      p {
        color: $black-40;
      }

      img {
        max-width: 100%;
        height: auto;
        margin: 30px auto;
        display: table;
      }
      .shop-item-footer {
        @extend %clearfix;

        .download-instruction {
          font-size: 16px/$desktop-home-ratio*100vw;
          color: $black-40;
          display: flex;
          flex-grow: 0;
          float: left;
          align-items: center;

          @media #{$desktop-bad-ratio} {
            font-size: 16px/$desktop-height-ratio*100vh;
          }

          @media #{$media-sm} {
            font-size: 16px/$mobile-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            font-size: 16px/$mobile-ratio-height*100vw;
          }

          &:hover {
            color: $yellow;
          }

          &:before {
            content: '';
            display: inline-block;
            background: url("./../img/download-icon.svg");
            width: 20px/$desktop-home-ratio*100vw;
            height: 20px/$desktop-home-ratio*100vw;
            background-size: 100%;
            margin-right: 10px/$desktop-home-ratio*100vw;

            @media #{$desktop-bad-ratio} {
              width: 20px/$desktop-height-ratio*100vh;
              height: 20px/$desktop-height-ratio*100vh;
              margin-right: 10px/$desktop-height-ratio*100vh;
            }

            @media #{$media-sm} {
              width: 20px/$mobile-ratio*100vw;
              height: 20px/$mobile-ratio*100vw;
              margin-right: 10px/$mobile-ratio*100vw;
            }

            @media #{$media-sm-with-ratio} {
              width: 20px/$mobile-ratio-height*100vw;
              height: 20px/$mobile-ratio-height*100vw;
              margin-right: 10px/$mobile-ratio-height*100vw;
            }
          }
        }

        .price {
          display: block;
          background: $red;
          border-radius: 14px;
          color: $yellow;
          padding: (5px/$desktop-home-ratio*100vw) (15px/$desktop-home-ratio*100vw);
          font-size: 18px/$desktop-home-ratio*100vw;
          float: right;

          @media #{$media-sm} {
            font-size: 22px/$mobile-ratio*100vw;
            padding: (15px/$desktop-home-ratio*100vw) (30px/$desktop-home-ratio*100vw);
          }

          span {
            color: #fff;
          }
        }
      }

      &.shop-item-popup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;

        @media #{$media-sm} {
          position: fixed;
          width: 80vw;
          height: auto;
          max-height: 80vh;
          top: 50%;
          left: 50%;
          right: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        .close-popup {
          width: 28px;
          height: 28px;
          background: rgba(0, 0, 0, .2);
          border-radius: 100%;
          display: block;
          padding-top: 6px;
          float: right;

          svg {
            width: 16px;
            display: block;
            margin: 0 auto 0;
          }
        }

        &.show {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}

.load-more-shop-items {
  display: table;
  margin: 20px auto 0;

  @media #{$media-sm} {
    display: none;
  }
}