.support-fullpage, .support-page {
  .hero {
    position: fixed;
    right: 252px/$desktop-home-ratio*100vw;
    bottom: 0;
    opacity: 0;

    @media #{$desktop-bad-ratio} {
      right: 400px/$desktop-home-ratio*100vw;
      height: $hero-2-height/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      right: -150px/$mobile-ratio*100vw;
      width: $hero-2-width/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      height: $hero-2-height/$mobile-ratio-height*100vh;
      width: auto;
      right: -150px/$mobile-ratio-height*100vh;
    }
  }

  .support-form {
    text-align: center;
    color: $white-60;

    h1 {
      color: #fff;
      padding-bottom: 50px/90px * 1em;
      opacity: 0;
    }

    .form-info {
      color: $white-60;
      font-weight: 600;
      line-height: 1;
      padding: 0 50px/$desktop-home-ratio*100vw;
      width: 30vw;
      margin: 0 auto;
      opacity: 0;
      font-size: 18px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        font-size: 18px/$desktop-height-ratio*100vh;
        padding: 0 50px/$desktop-height-ratio*100vh;
      }

      .robot-animation {
        display: inline-block;
        margin-top: 15px/$desktop-home-ratio*100vw;
        width: 36px/$desktop-home-ratio*100vw;
        min-width: 36px/$desktop-home-ratio*100vw;
        font-size: 0;

        @media #{$desktop-bad-ratio} {
          margin-top: 15px/$desktop-height-ratio*100vh;
          width: 36px/$desktop-height-ratio*100vh;
          min-width: 36px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          width: 36px/$mobile-ratio*100vw;
          min-width: 36px/$mobile-ratio*100vw;
          margin-right: 16px/$mobile-ratio*100vw;
        }
      }

      @media #{$media-sm} {
        width: 80vw;
        font-size: 18px/$mobile-ratio*100vw;
      }
    }

    .input-wrap {
      margin-bottom: 24px/$desktop-home-ratio*100vw;

      input[type=text] {
        text-align: center;
      }
    }

    .flex-form-wrap {
      opacity: 0;
    }
  }

  .form-info-success {
    font-size: 36px/$desktop-home-ratio*100vw;
    color: #fff;
    margin-bottom: 46px/$desktop-home-ratio*100vw;

    @media #{$desktop-bad-ratio} {
      font-size: 36px/$desktop-height-ratio*100vh;
      margin-bottom: 46px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      font-size: 36px/$mobile-ratio*100vw;
      margin-bottom: 46px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 36px/$mobile-ratio-height*100vh;
      margin-bottom: 46px/$mobile-ratio-height*100vh;
    }
  }

  .show-on-success {
    display: none;
    opacity: 0;
  }

  .show-support-modal & {
    .support-form {
      opacity: 0;
    }
  }

  .success-screen & {
    h1, .flex-form-wrap, .form-info {
      display: none;
    }

    .show-on-success {
      display: block;
    }

    .btn {
      display: inline-block;
    }
  }
}

.support-fullpage {
  .support-form {
    .input-wrap {
      input {
        width: 540px/$desktop-home-ratio*100vw;
      }
    }
  }
}

.support-page {
  .center-block {
    justify-content: flex-start;
    padding: 0 60px/$desktop-home-ratio*100vw;

    @media #{$media-sm} {
      padding: 0 60px/$mobile-ratio*100vw;
    }

    h1 {
      hyphens: auto;
    }
  }

  .support-form {
    text-align: left;
    width: 540px/$desktop-home-ratio*100vw;

    @media #{$desktop-bad-ratio} {
      width: 540px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      width: 100%;
    }

    .input-wrap {
      input {
        width: 100%;
      }
    }

    .form-info {
      display: flex;
      align-items: center;
      margin-left: 0;
      padding-left: 0;

      .robot-animation {
        margin-right: 20px/$desktop-home-ratio*100vw;
        margin-top: 0;
      }

      .success-screen & {
        display: none;
      }

      img {
        flex-grow: 0;
        margin-top: 0;
        margin-right: 10px;
      }
    }
  }
}