.footer-inner {
  background: $dark-grey;
  margin-top: 109px/$desktop-home-ratio*100vw;
  padding: (120px/$desktop-home-ratio*100vw) 0;
  color: $white-20;
  font-size: (18px/$desktop-home-ratio*100vw);
  line-height: 1.44;

  @media #{$desktop-bad-ratio} {
    font-size: 18px/$desktop-height-ratio * 100vh;
    padding: (120px/$desktop-height-ratio*100vh) 0;
    margin-top: 109px/$desktop-height-ratio *100vh;
  }

  @media #{$media-sm} {
    font-size: 18px/$mobile-ratio * 100vw;
    padding: (119px/$mobile-ratio*100vw) 0;
    margin-top: 104px/$mobile-ratio *100vw;
  }

  @media #{$media-sm-with-ratio} {
    font-size: 18px/$mobile-ratio-height * 100vh;
    padding: (119px/$mobile-ratio-height*100vh) 0;
    margin-top: 104px/$mobile-ratio-height *100vh;
  }

  .subfooter {
    margin-bottom: (50px/$desktop-home-ratio*100vw);
    display: flex;

    @media #{$desktop-bad-ratio} {
      margin-bottom: 50px/$desktop-height-ratio *100vh;
    }

    @media #{$media-sm} {
      margin-bottom: 50px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      margin-bottom: 50px/$mobile-ratio-height*100vh;
    }

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .logo-about {
      flex: 1;
      display: flex;
      align-items: center;

      svg {
        width: (138px/$desktop-home-ratio*100vw);
        float: left;
        margin: 0 (20px/$desktop-home-ratio*100vw) 0 0;

        @media #{$desktop-bad-ratio} {
          margin: 0 (20px/$desktop-height-ratio * 100vh) 0 0;
          width: 138px/$desktop-height-ratio * 100vh;
        }

        @media #{$media-sm} {
          width: 138px/$mobile-ratio * 100vw;
          margin-right: 20px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 138px/$mobile-ratio-height * 100vh;
          margin-right: 20px/$mobile-ratio-height*100vh;
        }

        line, circle, rect {
          stroke: #4f4f4f;
        }
      }

      .text {
        float: left;
        color: #fff;
        line-height: normal;

        span {
          color: $white-40;
        }
      }
    }

    .author-logo {
      float: right;
      display: flex;
      align-items: center;

      svg {
        width: 52px;

        polygon {
          stroke: $yellow;
        }

        @media #{$desktop-bad-ratio} {
          width: 52px/$desktop-height-ratio * 100vh;
        }

        @media #{$media-sm} {
          width: 52px/$mobile-ratio * 100vw;
          margin-right: 20px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 52px/$mobile-ratio-height * 100vh;
          margin-right: 20px/$mobile-ratio-height * 100vh;

        }
      }

      .text {
        float: right;
        color: $white-40;
        line-height: normal;
        margin-left: 18px;

        @media #{$media-sm} {
          margin-left: 0;
        }

        span {
          color: #fff;
        }
      }
    }
  }

  .homepage-body & {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 2;
    display: none;

    @media #{$media-sm} {
      display: block;
    }
  }
}