.footer-landing {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 42px;

  .show-login-popup & {
    z-index: 2;
  }

  @media #{$media-sm} {
    .hamburger-menu, .social-icons, .author-logo {
      display: none!important;
    }
  }

  .show-four-blocks-section & {
    z-index: 3;

    .author-logo, .make-call, .social-icons {
      display: none;
    }

    .hamburger-line {
      &, &:before, &:after {
        background: #fff!important;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .copyright {
    position: fixed;
    left: -110px/$desktop-home-ratio*100vw;
    top: 30%;
    transform: rotate(-90deg) translateX(-50%);
    font-size: 18px/$desktop-home-ratio*100vw;
    color: $black-50;

    @media #{$desktop-bad-ratio} {
      font-size: 18px/$desktop-height-ratio*100vh;
      left: -110px/$desktop-home-ratio*100vw;
    }

    @media #{$desktop-1600} {
      font-size: 18px;
      left: -110px;
    }

    .grey-text {
      color: $black-30;
      text-indent: 18px/$desktop-home-ratio*100vw;
      display: inline-block;

      @media #{$desktop-bad-ratio} {
        text-indent: 18px/$desktop-height-ratio*100vh;
      }

      @media #{$desktop-1600} {
        text-indent: 18px;
      }
    }

    .purple-bg &, .yellow-bg &, .grey-bg & {
      & {
        color: $white-50;
      }

      .grey-text {
        color: $white-30;
      }

    }

    .homepage-inner & {
      color: $black-50;
      .grey-text {
        color: $black-30;
      }
    }
  }

  .author-logo {
    margin-left: auto;
    text-align: right;
    color: $black-10;
    min-width: 220px/$desktop-home-ratio*100vw;
    font: $font-body;
    font-weight: 600;
    line-height: 1.22;
    font-size: 18px/$desktop-home-ratio*100vw;

    @media #{$desktop-1600} {
      min-width: 220px;
      font-size: 18px;
    }

    .purple-bg & {
      color: $yellow;
    }

    .yellow-bg & {
      color: #fff;
    }

    .grey-bg & {
      color: $blue;
    }

    .homepage-inner & {
      color: $black-10;
    }

    svg {
      width: 52px/$desktop-home-ratio*100vw;
      max-width: 52px;
      float: right;
      margin-left: 20px/$desktop-home-ratio*100vw;

      @media #{$desktop-1600} {
        margin-left: 20px;
      }

      polygon {
        stroke: $blue;

        .yellow-bg & {
          stroke: #fff;
        }

        .grey-bg & {
          stroke: $blue;
        }

        .homepage-inner & {
          stroke: $blue;
        }
      }
    }

    .homepage-body.show-login-popup & {
      color: #fff;
    }
  }

  a.hamburger-menu {
    color: $black-50;
    display: block;
    margin-right: auto;
    font: $font-body;
    font-weight: 600;

    .purple-bg & {
      color: $yellow;
    }

    .yellow-bg & {
      color: #fff;
    }

    .grey-bg & {
      color: $blue;
    }

    .homepage-inner & {
      color: $black-50;
    }

    .hamburger-button {
      display: block;
      float: left;
      max-width: 30px;
      max-height: 30px;
      width: 30px/$desktop-home-ratio*100vw;
      height: 30px/$desktop-home-ratio*100vw;
      position: relative;

      .hamburger-line {
        top: 0;

        &, &:before, &:after {
          content: '';
          position: absolute;
          display: block;
          max-height: 4px;
          height: 4px/$desktop-home-ratio*100vw;
          width: 100%;
          border-radius: 2px/$desktop-home-ratio*100vw;
          background: $purple;

          @media #{$desktop-1600} {
            border-radius: 2px;
          }

          .yellow-bg & {
            background: #fff;
          }

          .grey-bg & {
            background: $blue;
          }

          .purple-bg & {
            background-color: $yellow;
          }

          .homepage-inner & {
            background: $purple;
          }
        }

        &:before {
          top: 13px/$desktop-home-ratio*100vw;

          @media #{$desktop-1600} {
            top: 13px;
          }
        }

        &:after {
          top: 26px/$desktop-home-ratio*100vw;

          @media #{$desktop-1600} {
            top: 26px;
          }
        }
      }
    }

    .text {
      display: block;
      float: left;
      padding-left: 20px/$desktop-home-ratio*100vw;
      font-size: 18px/$desktop-home-ratio*100vw;
      line-height: 30px/$desktop-home-ratio*100vw;

      @media #{$desktop-1600} {
        padding-left: 20px;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .social-icons {
    display: flex;
    margin-right: 492px/$desktop-home-ratio*100vw;

    @media #{$desktop-1600} {
      margin-right: 492px;
    }
    li {
      &:not(:last-child) {
        margin-right: 40px/$desktop-home-ratio*100vw;
        @media #{$desktop-1600} {
          margin-right: 40px;
        }
      }
      a {
        font-size: 0;

        svg {
          height: 22px/$desktop-home-ratio*100vw;
          max-height: 22px;

          path {
            transition: fill .5s,stroke .5s;
            fill: $super-light-grey-2;
          }

        }

        &:hover {
          svg {
            path {
              fill: $yellow;
            }
          }
        }

        .purple-bg & {
          svg {
            path {
              fill: $yellow;
            }
          }
        }

        .yellow-bg & {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        .grey-bg & {
          svg {
            path {
              fill: $blue;
            }
          }
        }

        .white-bg & {
          svg {
            path {
              fill: inherit;stroke: inherit;
            }
          }
        }

        .green-bg & {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        .homepage-inner & {
          svg {
            path {
              fill: $super-light-grey-2;
            }

          }
        }
      }
    }
  }
}

.make-call {
  width: 42px/$desktop-home-ratio*100vw;
  max-width: 42px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 0;

  @media #{$media-sm} {
    min-width: 42px/$mobile-ratio*100vw;
    left: 60px/$mobile-ratio*100vw;
    transform: none;
  }

  @media #{$media-sm-with-ratio} {
    min-width: 42px/$mobile-ratio-height*100vh;
    left: 60px/$mobile-ratio-height*100vh;
  }

  .purple-bg &, .homepage-inner & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $green;
      }
    }
  }

  &:hover {
    .phone-tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .phone-tooltip {
    background: $light-grey;
    font-size: 30px/$desktop-home-ratio*100vw;
    font-weight: 300;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: (22px/$desktop-home-ratio*100vw) (60px/$desktop-home-ratio*100vw);
    border-radius: 18px/$desktop-home-ratio*100vw;
    min-width: 300px/$desktop-home-ratio*100vw;
    bottom: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s;
    opacity: 0;
    pointer-events: none;

    @media #{$media-sm} {
      display: none;
    }

    @media #{$desktop-1600} {
      font-size: 30px;
      padding: 22px 60px;
      border-radius: 18px;
      min-width: 300px;
      bottom: calc(100% + 17px);
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: (17px/$desktop-home-ratio*100vw) (17px/$desktop-home-ratio*100vw) 0 (17px/$desktop-home-ratio*100vw);
      border-color: $light-grey transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      @media #{$desktop-1600} {
        border-width: 17px 17px 0 17px;
      }
    }
  }
}