.footer-landing {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 43px;

  .show-login-popup & {
    z-index: 2;
  }

  @media #{$media-sm} {
    display: none;
  }

  .show-four-blocks-section & {
    z-index: 3;

    .author-logo, .make-call, .social-icons {
      display: none;
    }

    .hamburger-line {
      &, &:before, &:after {
        background: #fff!important;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .copyright {
    position: fixed;
    left: -100px;
    top: 30%;
    transform: rotate(-90deg) translateX(-50%);
    font-size: 18px;
    color: $black-50;

    .grey-text {
      color: $black-30;
    }

    .purple-bg &, .yellow-bg &, .grey-bg & {
      & {
        color: $white-50;
      }

      .grey-text {
        color: $white-30;
      }

    }

    .homepage-inner & {
      color: $black-50;
      .grey-text {
        color: $black-30;
      }
    }
  }

  .author-logo {
    margin-left: auto;
    text-align: right;
    color: $black-10;
    min-width: 220px;
    font: $font-body;
    font-weight: 600;
    line-height: 1.22;
    font-size: 18px;

    .purple-bg & {
      color: $yellow;
    }

    .yellow-bg & {
      color: #fff;
    }

    .grey-bg & {
      color: $blue;
    }

    .homepage-inner & {
      color: $black-10;
    }

    svg {
      width: 52px;
      float: right;
      margin-left: 20px;

      polygon {
        stroke: $blue;

        .yellow-bg & {
          stroke: #fff;
        }

        .grey-bg & {
          stroke: $blue;
        }

        .homepage-inner & {
          stroke: $blue;
        }
      }
    }

    .homepage-body.show-login-popup & {
      color: #fff;
    }
  }

  a.hamburger-menu {
    color: $black-50;
    display: block;
    margin-right: auto;
    font: $font-body;
    font-weight: 600;

    .purple-bg & {
      color: $yellow;
    }

    .yellow-bg & {
      color: #fff;
    }

    .grey-bg & {
      color: $blue;
    }

    .homepage-inner & {
      color: $black-50;
    }

    .hamburger-button {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      position: relative;

      .hamburger-line {
        top: 0;

        &, &:before, &:after {
          content: '';
          position: absolute;
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 2px;
          background: $purple;

          .yellow-bg & {
            background: #fff;
          }

          .grey-bg & {
            background: $blue;
          }

          .purple-bg & {
            background-color: $yellow;
          }

          .homepage-inner & {
            background: $purple;
          }
        }

        &:before {
          top: 13px;
        }

        &:after {
          top: 26px;
        }
      }
    }

    .text {
      display: block;
      float: left;
      padding-left: 20px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .social-icons {
    display: flex;
    margin-right: auto;
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }
      a {
        svg {
          height: 22px;

          path {
            transition: fill .5s,stroke .5s;
            fill: $super-light-grey-2;
            stroke: $super-light-grey-2;
          }

        }

        &:hover {
          svg {
            path {
              fill: $yellow;
              stroke: $yellow;
            }
          }
        }

        .purple-bg & {
          svg {
            path {
              fill: $yellow;
              stroke: $yellow;
            }
          }
        }

        .yellow-bg & {
          svg {
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }

        .grey-bg & {
          svg {
            path {
              fill: $blue;stroke: $blue;
            }
          }
        }

        .white-bg & {
          svg {
            path {
              fill: inherit;stroke: inherit;
            }
          }
        }

        .green-bg & {
          svg {
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }

        .homepage-inner & {
          svg {
            path {
              fill: $super-light-grey-2;
              stroke: $super-light-grey-2;
            }

          }
        }
      }
    }
  }
}

.make-call {
  width: 42px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  .purple-bg &, .homepage-inner & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $green;
      }
    }
  }

  &:hover {
    .phone-tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .phone-tooltip {
    background: $light-grey;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 60px;
    border-radius: 18px;
    min-width: 300px;
    bottom: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s;
    opacity: 0;
    pointer-events: none;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17px 17px 0 17px;
      border-color: $light-grey transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}