.footer-landing {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding-bottom: 42px;

  .show-login-popup & {
    z-index: 3;
  }

  @media #{$media-sm} {
    .hamburger-menu, .social-icons, .author-logo {
      display: none !important;
    }
  }

  .author-logo, .make-call, .social-icons {
    transition: opacity .5s;
  }

  .show-four-blocks-section & {
    //z-index: 3;

    .author-logo, .make-call, .social-icons {
      opacity: 0;
      pointer-events: none;
    }

    .hamburger-line {
      &, &:before, &:after {
        background: #fff !important;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .copyright {
    position: fixed;
    left: -110px/$desktop-home-ratio*100vw;
    top: 50%;
    transform: rotate(-90deg) translateX(0);
    font-size: 18px/$desktop-home-ratio*100vw;
    color: $black-50;

    @media #{$desktop-bad-ratio} {
      font-size: 18px/$desktop-height-ratio*100vh;
      left: -110px/$desktop-home-ratio*100vw;
    }

    @media #{$desktop-1600} {
      font-size: 18px;
      left: -110px;
    }

    @media #{$media-sm} {
      display: none;
    }

    .grey-text {
      color: $black-30;
      text-indent: 18px/$desktop-home-ratio*100vw;
      display: inline-block;

      @media #{$desktop-bad-ratio} {
        text-indent: 18px/$desktop-height-ratio*100vh;
      }

      @media #{$desktop-1600} {
        text-indent: 18px;
      }
    }

    .purple-bg &, .grey-bg & {
      & {
        color: $white-50;
      }

      .grey-text {
        color: $white-30;
      }

    }

    .yellow-bg & {
      & {
        color: #fff;
      }

      .grey-text {
        color: $white-30;
      }
    }

    .homepage-inner & {
      color: $black-50;
      .grey-text {
        color: $black-30;
      }
    }
  }

  .author-logo {
    margin-left: auto;
    text-align: right;
    min-width: 220px/$desktop-home-ratio*100vw;
    font: $font-body;
    font-weight: 600;
    line-height: 1.22;
    font-size: 18px/$desktop-home-ratio*100vw;
    transition: color .5s;
    color: $main-black;

    &:hover {
      color: $black-10;
    }

    @media #{$desktop-1600} {
      min-width: 220px;
      font-size: 18px;
    }

    .purple-bg & {
      color: $yellow;

      &:hover {
        color: rgba($yellow, .2);
      }
    }

    .yellow-bg & {
      color: #fff;

      &:hover {
        color: rgba(255, 255, 255, .2);
      }
    }

    .grey-bg & {
      color: $blue;

      &:hover {
        color: rgba($blue, .2);
      }
    }

    .homepage-inner & {
      color: $black-10;
    }

    svg {
      width: 52px/$desktop-home-ratio*100vw;
      max-width: 52px;
      float: right;
      margin-left: 20px/$desktop-home-ratio*100vw;

      @media #{$desktop-1600} {
        margin-left: 20px;
      }

      polygon {
        stroke: $blue;

        .yellow-bg & {
          stroke: #fff;
        }

        .grey-bg & {
          stroke: $blue;
        }

        .homepage-inner & {
          stroke: $blue;
        }
      }
    }

    .homepage-body.show-login-popup &, .show-login-popup .homepage-inner & {
      color: #fff;
    }
  }

  a.hamburger-menu {
    color: $black-50;
    display: flex;
    align-items: center;
    margin-right: auto;
    font: $font-body;
    font-weight: 600;

    &:hover {
      .text {
        opacity: .6;
        color: inherit;
      }
    }

    svg rect {
      fill: $purple;
    }

    svg rect {
      .purple-bg & {
        fill: $yellow;
      }

      .yellow-bg & {
        fill: #fff;
      }

      .grey-bg & {
        fill: $blue;
      }
    }
    .homepage-inner & {
      fill: $black-50;
    }

    .hamburger-button {
      display: block;
      float: left;
      position: relative;
      font-size: 0;

      svg {
        max-width: 42px;
        max-height: 42px;
        width: 42px/$desktop-home-ratio*100vw;
        height: 42px/$desktop-home-ratio*100vw;
      }

    }

    .text {
      display: block;
      float: left;
      padding-left: 20px/$desktop-home-ratio*100vw;
      font-size: 18px/$desktop-home-ratio*100vw;
      line-height: 30px/$desktop-home-ratio*100vw;
      transition: opacity $transition-time;

      .homepage-body.show-login-popup &, .show-login-popup .homepage-inner & {
        color: #fff;
      }

      .purple-bg & {
        color: $yellow;
      }

      .yellow-bg & {
        color: #fff;
      }

      .grey-bg & {
        color: $blue;
      }

      @media #{$desktop-1600} {
        padding-left: 20px;
        font-size: 18px;
        line-height: 30px;
      }

    }
  }

  .social-icons {
    display: flex;
    margin-right: 492px/$desktop-home-ratio*100vw;

    @media #{$desktop-1600} {
      margin-right: 492px;
    }
    li {
      &:not(:last-child) {
        margin-right: 40px/$desktop-home-ratio*100vw;
        @media #{$desktop-1600} {
          margin-right: 40px;
        }
      }
      a {
        font-size: 0;
        transition: opacity $transition-time;

        svg {
          height: 22px/$desktop-home-ratio*100vw;
          max-height: 22px;

          path {
            transition: fill .5s, stroke .5s;
            fill: $super-light-grey-2;
          }

        }

        &:hover {
          opacity: .6;
        }

        .purple-bg & {
          svg {
            path {
              fill: $yellow;
            }
          }
        }

        .yellow-bg & {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        .grey-bg & {
          svg {
            path {
              fill: $blue;
            }
          }
        }

        .white-bg & {
          svg {
            path {
              fill: inherit;
              stroke: inherit;
            }
          }
        }

        .green-bg & {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        .homepage-inner & {
          svg {
            path {
              fill: $super-light-grey-2;
            }

          }
        }
      }
    }
  }
}

.make-call {
  width: 42px/$desktop-home-ratio*100vw;
  max-width: 42px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 0;

  svg {
    transition: opacity $transition-time;
  }

  &:hover {
    svg {
      opacity: .6;
    }
  }

  @media #{$media-sm} {
    min-width: 42px/$mobile-ratio*100vw;
    left: 60px/$mobile-ratio*100vw;
    transform: none;
    position: static;
  }

  @media #{$media-sm-with-ratio} {
    min-width: 42px/$mobile-ratio-height*100vh;
    left: 60px/$mobile-ratio-height*100vh;
  }

  .purple-bg &, .homepage-inner & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $green;
      }
    }
  }

  &:hover {
    .phone-tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .phone-tooltip {
    background: #bababa;
    font-size: 30px/$desktop-home-ratio*100vw;
    font-weight: 300;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: (22px/$desktop-home-ratio*100vw) (60px/$desktop-home-ratio*100vw);
    border-radius: 18px/$desktop-home-ratio*100vw;
    min-width: 300px/$desktop-home-ratio*100vw;
    bottom: calc(100% + 1.625vw);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s;
    opacity: 0;
    pointer-events: none;

    @media #{$media-sm} {
      display: none;
    }

    @media #{$desktop-1600} {
      font-size: 30px;
      padding: 22px 60px;
      border-radius: 18px;
      min-width: 300px;
      bottom: calc(100% + 25px);
    }

    &:before {
      content: '';
      display: block;
      width: 34px/$desktop-home-ratio*100vw;
      height: 33px/$desktop-home-ratio*100vw;
      background-size: cover;
      background-image: url(../img/triangle.svg);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(calc(-50% - 0.0625vw));

      @media #{$desktop-1600} {
        width: 34px;
        height: 33px;
        transform: translateX(-50%) translateY(-17px);
      }
    }
  }
}