.footer-landing {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 43px;

  .copyright {
    position: fixed;
    left: -100px;
    bottom: 30.5%;
    transform: rotate(-90deg);
    font-size: 18px;
    color: $black-50;

    .grey-text {
      color: $black-30;
    }
  }

  .author-logo {
    float: right;
    text-align: right;
    color: $black-10;
    min-width: 220px;
    font: $font-body;
    font-weight: 600;
    line-height: 1.22;
    font-size: 18px;

    svg {
      width: 52px;
      float: right;
      margin-left: 20px;

      polygon {
        stroke: $yellow;
      }
    }
  }

  .hamburger-menu {
    color: $black-50;
    display: block;
    float: left;
    font: $font-body;
    font-weight: 600;

    .hamburger-button {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      position: relative;

      .hamburger-line {
        top: 0;

        &, &:before, &:after {
          content: '';
          position: absolute;
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 2px;
          background: $yellow;
        }

        &:before {
          top: 13px;
        }

        &:after {
          top: 26px;
        }
      }
    }

    .text {
      display: block;
      float: left;
      padding-left: 20px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}