.header {
  padding: 50px 0 0;
  position: relative;
  z-index: 3;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media #{$media-sm} {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 138px;
    display: block;
    position: relative;
    z-index: 3;
    margin-right: auto;

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          stroke: inherit;
        }
      }
    }

    .homepage-inner & {
      svg {
        .a, .b, .c-l, .d {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 10px;
        }

        .a {
          stroke: #ffb103;
        }

        .b {
          stroke: #8f00ff;
        }

        .c-l {
          stroke: #4fed00;
        }

        .d {
          stroke: #11f5ff;
        }
      }
    }
  }

  .main-navigation {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s;
    position: absolute;
    transform: translateX(-4px);

    .show-four-blocks-section & {
      opacity: 0;
      pointer-events: none;
    }


    ul {
      li {
        display: block;
        float: left;
        margin-left: 7px;

        &:first-child {
          margin-left: 0;
        }

        a {
          padding: 8px 23px;
          font-size: 18px;
          border: 3px solid transparent;
          border-radius: 14px;
          transition: border $transition-time;

          .homepage-body.show-login-popup & {
            color: $white-60;
          }

          &:hover, &.active {
            border-color: $yellow;
            color: #000;

            .homepage-body.show-login-popup & {
              color: #fff;
            }
          }

          .purple-bg & {
            &, &.active, &:hover {
              color: $yellow;
            }
          }

          .yellow-bg & {
            &, &.active, &:hover {
              color: #fff;
            }

            &.active, &:hover {
              border-color: #fff;
            }
          }

          .grey-bg & {
            &, &.active, &:hover {
              color: $blue;
            }

            &.active, &:hover {
              border-color: $blue;
            }
          }

          .homepage-inner & {
            &, &.active, &:hover {
              color: #000;
            }

            &.active, &:hover {
              border-color: $yellow;
            }
          }

          &.four-blocks-button {
            padding: 0;
            line-height: 1.5;

            .purple-bg &, .homepage-inner & {
              svg {
                path {
                  fill: $yellow!important;
                }
              }
            }

            .yellow-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            .grey-bg & {
              svg {
                path {
                  fill: $blue;
                }
              }
            }

            .white-bg & {
              svg {
                path {
                  fill: inherit;
                }
              }
            }

            .green-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            &:hover {
              border-color: transparent;
            }
          }
        }
      }
    }
  }
}

header.mobile-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  padding-top: 25px;
  display: none;

  .wrapper {
    display: flex;
    align-items: center;
  }

  @media #{$media-sm} {
    display: block;
    transition: transform .5s;
    transform: translateY(0);

    .hide-mobile-header & {
      transform: translateY(-150%)
    }
  }

  .logo {
    margin-right: auto;

    svg {
      width: 138px/$mobile-ratio * 100vw;
      line, circle, rect {
        transition: stroke .5s;
      }
    }

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          //stroke: inherit;
        }
      }
    }

    .green-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

  }
  &.decolorify-items {

    svg {
      line, circle, rect {
        stroke: #fff;
      }
    }

    .hamburger-menu-mobile {
      span {
        &, &:before, &:after {
          background: #fff;
        }
      }
    }
  }

  .hamburger-menu-mobile {
    display: block;
    width: 42px/$mobile-ratio*100vw;
    height: 42px/$mobile-ratio*100vw;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    float: right;

    span {
      &, &:before, &:after {
        content: '';
        display: block;
        width: 42px/$mobile-ratio*100vw;
        height: 8px/$mobile-ratio*100vw;
        background: $purple;
        position: absolute;
        transition: transform .5s, opacity .5s, height .5s, background .5s;
        border-radius: 4px/$mobile-ratio*100vw;

        .purple-bg & {
          background: $yellow;
        }

        .yellow-bg &, .dark-grey-bg & {
          background: #fff;
        }

        .grey-bg & {
          background: $blue;
        }

        .white-bg & {
          background: $purple;
        }

        .green-bg & {
          background: #fff;
        }
      }

      & {
        top: 0;
      }

      &:before {
        top: 15px/$mobile-ratio*100vw;
      }

      &:after {
        top: 30px/$mobile-ratio*100vw;
      }
    }

    .show-hamburger & {
      span {
        transform: rotate(45deg);
        height: 2px;
        background: $green;
        transform-origin: left;

        &:before {
          transform: rotate(-90deg) translateX(35%);
          height: 2px;
          background: $green;
        }

        &:after {
          opacity: 0;
        }
      }
    }
  }
}

.personal-area {
  margin-left: auto;
  width: 42px;

  .purple-bg & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $green;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-body.show-login-popup & {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
