.header {
  padding: 42px 0 0;
  position: relative;
  z-index: 3;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media #{$media-sm} {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 138px;
    width: 138px/$desktop-home-ratio*100vw;
    display: block;
    position: relative;
    z-index: 3;
    margin-right: auto;
    font-size: 0;

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          stroke: inherit;
        }
      }
    }

    .homepage-inner & {
      svg {
        .a, .b, .c-l, .d {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 10px;
        }

        .a {
          stroke: #ffb103;
        }

        .b {
          stroke: #8f00ff;
        }

        .c-l {
          stroke: #4fed00;
        }

        .d {
          stroke: #11f5ff;
        }
      }
    }
  }

  .main-navigation {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    .show-four-blocks-section & {
      opacity: 0;
      pointer-events: none;
    }


    ul {
      margin-left: -7px/$desktop-home-ratio*100vw;
      display: flex;
      align-items: center;

      @media #{$desktop-1600} {
        margin-left: -7px;
      }

      li {
        display: inline-flex;
        margin-left: 20px/$desktop-home-ratio*100vw;

        &.four-blocks-li {
          padding: 0 18px/$desktop-home-ratio*100vw;

          @media #{$desktop-1600} {
            padding: 0 18px;
          }
        }

        @media #{$desktop-1600} {
          margin-left: 20px;
        }

        &:first-child {
          margin-left: 0;
        }

        a {
          padding: (9px/$desktop-home-ratio*100vw) (16px/$desktop-home-ratio*100vw);
          font-size: 18px/$desktop-home-ratio*100vw;
          border: (3px/$desktop-home-ratio*100vw) solid transparent;
          border-radius: 14px/$desktop-home-ratio*100vw;
          transition: border $transition-time;
          display: inline-flex;

          @media #{$desktop-1600} {
            padding: 9px 16px;
            font-size: 18px;
            border: 3px solid transparent;
            border-radius: 14px;
          }

          .homepage-body.show-login-popup & {
            color: $white-60;
          }

          &:hover, &.active {
            border-color: $yellow;
            color: #000;

            .homepage-body.show-login-popup & {
              color: #fff;
            }
          }

          .purple-bg & {
            &, &.active, &:hover {
              color: $yellow;
            }
          }

          .yellow-bg & {
            &, &.active, &:hover {
              color: #fff;
            }

            &.active, &:hover {
              border-color: #fff;
            }
          }

          .grey-bg & {
            &, &.active, &:hover {
              color: $blue;
            }

            &.active, &:hover {
              border-color: $blue;
            }
          }

          .homepage-inner & {
            &, &.active, &:hover {
              color: #000;
            }

            &.active, &:hover {
              border-color: $yellow;
            }
          }

          &.four-blocks-button {
            padding: 0;
            line-height: 1.5;

            svg {
            width: 18px/$desktop-home-ratio*100vw;
            max-width: 18px;
            }
            .purple-bg &, .homepage-inner & {
              svg {
                path {
                  fill: $yellow!important;
                }
              }
            }

            .yellow-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            .grey-bg & {
              svg {
                path {
                  fill: $blue;
                }
              }
            }

            .white-bg & {
              svg {
                path {
                  fill: inherit;
                }
              }
            }

            .green-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            &:hover {
              border-color: transparent;
            }
          }
        }
      }
    }
  }
}

header.mobile-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  padding-top: 44px/$mobile-ratio*100vw;
  display: none;

  .wrapper {
    display: flex;
    align-items: center;
  }

  @media #{$media-sm-with-ratio} {
    padding-top: 44px/$mobile-ratio-height*100vh;
  }

  @media #{$media-sm} {
    display: block;
    transition: transform .5s;
    transform: translateY(0);

    .hide-mobile-header & {
      transform: translateY(-150%)
    }
  }

  .logo {
    margin-right: auto;

    svg {
      width: 138px/$mobile-ratio * 100vw;

      @media #{$media-sm-with-ratio} {
        width: 138px/$mobile-ratio-height * 100vh;
      }

      line, circle, rect {
        transition: stroke .5s;
      }
    }

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          //stroke: inherit;
        }
      }
    }

    .green-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

  }
  &.decolorify-items {

    svg {
      line, circle, rect {
        stroke: #fff;
      }
    }

    .hamburger-menu-mobile {
      span {
        &, &:before, &:after {
          background: #fff;
        }
      }
    }
  }

  .hamburger-menu-mobile {
    display: block;
    width: 42px/$mobile-ratio*100vw;
    height: 42px/$mobile-ratio*100vw;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    float: right;

    @media #{$media-sm-with-ratio} {
      width: 42px/$mobile-ratio-height*100vh;
      height: 42px/$mobile-ratio-height*100vh;
    }

    span {
      &, &:before, &:after {
        content: '';
        display: block;
        width: 42px/$mobile-ratio*100vw;
        height: 8px/$mobile-ratio*100vw;
        background: $purple;
        position: absolute;
        transition: transform .5s, opacity .5s, height .5s, background .5s;
        border-radius: 4px/$mobile-ratio*100vw;

        @media #{$media-sm-with-ratio} {
          width: 42px/$mobile-ratio-height*100vh;
          height: 8px/$mobile-ratio-height*100vh;
          border-radius: 4px/$mobile-ratio-height*100vh;

        }

        .purple-bg & {
          background: $yellow;
        }

        .yellow-bg &, .dark-grey-bg & {
          background: #fff;
        }

        .grey-bg & {
          background: $blue;
        }

        .white-bg & {
          background: $purple;
        }

        .green-bg & {
          background: #fff;
        }
      }

      & {
        top: 0;
      }

      &:before {
        top: 15px/$mobile-ratio*100vw;

        @media #{$media-sm-with-ratio} {
          top: 15px/$mobile-ratio-height*100vh
        }
      }

      &:after {
        top: 30px/$mobile-ratio*100vw;

        @media #{$media-sm-with-ratio} {
          top: 30px/$mobile-ratio-height*100vh
        }
      }
    }

    .show-hamburger & {
      span {
        transform: rotate(45deg);
        height: 4px;
        background: $green;
        transform-origin: left;

        @media #{$media-sm-with-ratio} {
          height: 4px/$mobile-ratio-height*100vh;
        }

        &:before {
          transform: rotate(-90deg) translateX(35%);
          height: 2px;
          background: $green;

          @media #{$media-sm-with-ratio} {
            height: 4px/$mobile-ratio-height*100vh;
          }
        }

        &:after {
          opacity: 0;
        }
      }
    }
  }
}

.personal-area {
  margin-left: auto;
  width: 42px/$desktop-home-ratio*100vw;
  font-size: 0;
  position: relative;

  svg {
    path {
      fill: $purple;
    }
  }

  .purple-bg & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $green;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-body.show-login-popup & {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
