.header {
  padding: 42px 0 0;
  position: relative;
  z-index: 3;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media #{$media-tablet} {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 138px;
    width: 138px/$desktop-home-ratio*100vw;
    display: block;
    position: relative;
    z-index: 3;
    margin-right: auto;
    font-size: 0;

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          stroke: inherit;
        }
      }
    }

    .homepage-inner & {
      svg {
        .a, .b, .c-l, .d {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 10px;
        }

        .a {
          stroke: #ffb103;
        }

        .b {
          stroke: #8f00ff;
        }

        .c-l {
          stroke: #4fed00;
        }

        .d {
          stroke: #11f5ff;
        }
      }
    }
  }

  .main-navigation {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    .show-four-blocks-section & {
      opacity: 0;
      pointer-events: none;
    }


    ul {
      margin-left: -26px/$desktop-home-ratio*100vw;
      display: flex;
      align-items: center;

      @media #{$desktop-1600} {
        margin-left: -26px;
      }

      li {
        display: inline-flex;
        margin: 0 (10px/$desktop-home-ratio*100vw);

        &.four-blocks-li {
          padding: 0 18px/$desktop-home-ratio*100vw;

          @media #{$desktop-1600} {
            padding: 0 18px;
          }
        }

        @media #{$desktop-1600} {
          margin-left: 20px;
        }

        &:first-child {
          margin-left: 0;
        }

        a {
          padding: (9px/$desktop-home-ratio*100vw) (16px/$desktop-home-ratio*100vw);
          font-size: 18px/$desktop-home-ratio*100vw;
          border: (3px/$desktop-home-ratio*100vw) solid transparent;
          border-radius: 14px/$desktop-home-ratio*100vw;
          transition: border .2s, color .2s;
          display: inline-flex;

          @media #{$desktop-1600} {
            padding: 9px 16px;
            font-size: 18px;
            border: 3px solid transparent;
            border-radius: 14px;
          }

          .homepage-body.show-login-popup &, .show-login-popup .homepage-inner & {
            color: $white-60;
          }


          &:hover {
            color: $black-60;
          }

           &.active {
            border-color: $yellow;
            color: #000;

            .homepage-body.show-login-popup &, .show-login-popup .homepage-inner & {
              color: #fff;
            }
          }

          .purple-bg & {
            &, &.active {
              color: $yellow;
            }

            &.active:hover {
              color: $yellow;
            }

            &:hover {
              color: rgba($yellow, .6);
            }
          }

          .yellow-bg & {
            &, &.active {
              color: #fff;

              &.active:hover {
                color: #fff;
              }

              &:hover {
                color: $white-60;
              }
            }

            &.active {
              border-color: #fff;
            }
          }

          .grey-bg & {
            &, &.active, &.active:hover {
              color: $blue;
            }

            &:hover {
              color: rgba($blue, .6);
            }

            &.active {
              border-color: $blue;
            }
          }

          .homepage-inner & {
            &, &.active, &:hover {
              color: #000;
            }

            &.active {
              border-color: $yellow;
            }

            &:hover {
              color: $black-60;
            }
          }

          &.four-blocks-button {
            padding: 0;
            line-height: 1.5;
            transition: opacity .2s;
            will-change: opacity;

            svg {
            width: 18px/$desktop-home-ratio*100vw;
            max-width: 18px;
            }
            .purple-bg &, .homepage-inner & {
              svg {
                path {
                  fill: $yellow!important;
                }
              }
            }

            .yellow-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            .grey-bg & {
              svg {
                path {
                  fill: $blue;
                }
              }
            }

            .white-bg & {
              svg {
                path {
                  fill: inherit;
                }
              }
            }

            .green-bg & {
              svg {
                path {
                  fill: #fff;
                }
              }
            }

            &:hover {
              border-color: transparent;
              opacity: .6;
            }
          }
        }
      }
    }
  }
}

header.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  padding-top: 44px/$mobile-ratio*100vw;
  padding-bottom: 22px/$mobile-ratio*100vw;
  transition: transform .5s, padding .5s, background .5s;
  display: none;

  .yellow-bg & {
    background: $yellow;
  }

  .purple-bg & {
    background: $purple;
  }

  .grey-bg  & {
    background: $light-grey;
  }

  .dark-grey-bg-2 & {
    background: $grey-bg;
  }

  .dark-grey-bg & {
    background: $dark-grey-2;
  }

  .green-bg & {
    background: $green;
  }

  .black-bg & {
    background: #000;
  }

  .white-bg & {
    background: #fff;
  }

  &.headroom {
    &--pinned {
      transform: translateY(0);

      .show-hamburger & {
        background: transparent;
      }
    }

    &--unpinned {
      transform: translateY(-120%);
    }

    &--top {
      padding-top: 44px/$mobile-ratio*100vw;
      background: transparent;
    }

    &--not-top {
      padding-top: 22px/$mobile-ratio*100vw;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  @media #{$media-tablet} {
    padding-top: 44px/$tablet-ratio*100vw;
    padding-bottom: 22px/$tablet-ratio*100vw;
    display: block;
    transform: translateY(0);

    .hide-mobile-header & {
      transform: translateY(-150%)
    }
  }

  @media #{$media-sm} {
    padding-top: 44px/$mobile-ratio*100vw;
    padding-bottom: 22px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    padding-top: 44px/$mobile-ratio-height*100vh;
    padding-bottom: 22px/$mobile-ratio-height*100vh;
  }

  .logo {
    margin-right: auto;
    font-size: 0;

    svg {
      @media #{$media-tablet} {
        width: 138px/$tablet-ratio * 100vw;
      }

      width: 138px/$mobile-ratio * 100vw;

      @media #{$media-sm} {
        width: 138px/$mobile-ratio * 100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 138px/$mobile-ratio-height * 100vh;
      }

      line, circle, rect {
        transition: stroke .5s;
      }
    }

    .purple-bg & {
      svg {
        line, circle, rect {
          stroke: $yellow;
        }
      }
    }

    .yellow-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

    .grey-bg & {
      svg {
        line, circle, rect {
          stroke: $blue;
        }
      }
    }

    .white-bg & {
      svg {
        line, circle, rect {
          //stroke: inherit;
        }
      }
    }

    .green-bg & {
      svg {
        line, circle, rect {
          stroke: #fff;
        }
      }
    }

  }
  &.decolorify-items {

    svg {
      line, circle, rect {
        stroke: #fff;
      }
    }

    .hamburger-menu-mobile {
      span {
        &, &:before, &:after {
          background: #fff;
        }
      }
    }
  }

  .hamburger-menu-mobile {
    display: block;
    width: 42px/$mobile-ratio*100vw;
    height: 42px/$mobile-ratio*100vw;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    float: right;

    @media #{$media-tablet} {
      width: 42px/$tablet-ratio*100vw;
      height: 42px/$tablet-ratio*100vw;
    }

    @media #{$media-sm} {
      width: 42px/$mobile-ratio*100vw;
      height: 42px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      width: 42px/$mobile-ratio-height*100vh;
      height: 42px/$mobile-ratio-height*100vh;
    }


    svg.close-menu-icon {
      transition: opacity .5s;
      width: 30px/$mobile-ratio*100vw;

      @media #{$media-sm-with-ratio} {
        width: 30px/$mobile-ratio-height*100vh;
      }
    }

    .close-icon-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      right: 0;
      font-size: 18px/$mobile-ratio*100vw;
      color: $white-40;
      opacity: 0;
      transition: opacity $transition-time;

      @media #{$media-sm-with-ratio} {
        font-size: 18px/$mobile-ratio-height*100vh;
      }

      svg {
        margin-left: 20px/18px*1em;
      }

      &:hover {
        color: #fff;
      }
    }

    svg.hamburger-menu-icon {
      transition: opacity .5s;
      width: 42px/$mobile-ratio*100vw;
      height: 42px/$mobile-ratio*100vw;

      @media #{$media-tablet} {
        width: 42px/$tablet-ratio*100vw;
        height: 42px/$tablet-ratio*100vw;
      }

      @media #{$media-sm} {
        width: 42px/$mobile-ratio*100vw;
        height: 42px/$mobile-ratio*100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 42px/$mobile-ratio-height*100vh;
        height: 42px/$mobile-ratio-height*100vh;
      }

      & {
        rect {
          fill: $purple;
        }
      }

      .purple-bg & {
        rect {
            fill: $yellow;
          }
      }

      .yellow-bg &, .green-bg &, .dark-grey-bg &, .grey-bg & {
        rect {
            fill: #fff;
          }
      }

      .white-bg & {
        rect {
            fill: inherit;
          }
      }
    }

    .show-hamburger & {

      .close-icon-wrap {
        opacity: 1;
      }

      svg.hamburger-menu-icon {
        opacity: 0;
      }
    }
  }
}

.personal-area {
  margin-left: auto;
  width: 42px/$desktop-home-ratio*100vw;
  max-width: 42px;
  font-size: 0;
  position: relative;
  transition: opacity .2s;
  will-change: opacity;

  &:hover {
    opacity: .6;
  }


  svg {
    path {
      fill: $purple;
    }
  }

  .purple-bg & {
    svg {
      path {
        fill: $yellow;
      }
    }
  }

  .yellow-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .grey-bg & {
    svg {
      path {
        fill: $blue;
      }
    }
  }

  .white-bg & {
    svg {
      path {
        fill: inherit;
      }
    }
  }

  .homepage-inner & {
    svg {
      path {
        fill: $purple;
      }
    }
  }

  .green-bg & {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .homepage-body.show-login-popup & {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
