.slide-menu .main-menu-item {
  .header-inner-page {
    height: 100vh;
    color: #fff;

    .hero {
      right: -171px/($desktop-home-ratio/2)*100%;
      left: initial;
      transform: none;
    }

    .plan-description {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);

      p {
        color: #fff;
      }

      .btn {
        position: static;
        transform: none;
        left: auto;
      }
    }

    .fig-cross-1 {
      right: -300px/($desktop-home-ratio/2)*100%;
      left: auto;
    }

    .fig-cross-2 {
      bottom: 33.33%;
      right: 350px/($desktop-home-ratio/2)*100%;
      left: auto;
    }

    .fig-square-1 {
      bottom: 120px/$desktop-height-ratio*100%;;
      left: 250px/($desktop-home-ratio/2)*100%;
    }

    .fig-square-2 {
      left: 234px/($desktop-home-ratio/2)*100%;
      top: 160px/$desktop-height-ratio*100%;
    }

    .fig-circle-1 {
      bottom: 23.35%;
      right: 230px/($desktop-home-ratio/2)*100%;
      top: auto;
      left: auto;
      z-index: 1;
    }

    .fig-circle-2 {
      top: 30%;
      right: 250px/($desktop-home-ratio/2)*100%;
    }
  }

  &.connect-page {
    .fig-square-big {
      top: 151px/$desktop-height-ratio*100%;
      right: -300px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-1 {
      height: 30px;
      bottom: 420px/$desktop-height-ratio*100%;
      right: 356px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-2 {
      bottom: 159px/$desktop-height-ratio*100%;
      right: 408px/($desktop-home-ratio/2)*100%;
    }

    .fig-circle-1 {
      width: 30px;
      right: 288px/($desktop-home-ratio/2)*100%;

    }

    .fig-square-1 {
      bottom: 92px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 131px/$desktop-height-ratio*100%;
      right: 23px/($desktop-home-ratio/2)*100%;
      left: auto;
    }
  }
}