.slide-menu .main-menu-item {
  .header-inner-page {
    height: 100vh;
    color: #fff;

    .hero {
      right: -171px/($desktop-home-ratio/2)*100%;
      left: initial;
      transform: translateY(-50%);

      @media #{$desktop-bad-ratio} {
        right: -171px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm-with-ratio} {
        right: -171px/$mobile-ratio-height*100vh;
      }

    }

    .plan-description {
      position: absolute;
      top: 30%;
      z-index: 1;

      p {
        color: #fff;
      }

      .btn {
        position: static;
        transform: none;
        left: auto;
        font-size: 22px/$desktop-home-ratio * 100vw;

        @media #{$desktop-bad-ratio} {
          font-size: 22px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          font-size: 22px/$mobile-ratio * 100vw;
        }

        @media #{$media-sm-with-ratio} {
          font-size: 22px/$mobile-ratio-height * 100vh;
        }
      }
    }

    .fig-cross-1 {
      transform: translateY(-50%);
      right: -300px/($desktop-home-ratio/2)*100%;
      left: auto;

      @media #{$desktop-bad-ratio} {
        right: -300px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm-with-ratio} {
        right: -300px/$mobile-ratio-height*100vh;
      }
    }

    .fig-cross-2 {
      bottom: 33.33%;
      right: 350px/($desktop-home-ratio/2)*100%;
      left: auto;
    }

    .fig-square-1 {
      bottom: 120px/$desktop-height-ratio*100%;;
      left: 250px/($desktop-home-ratio/2)*100%;
    }

    .fig-square-2 {
      left: 234px/($desktop-home-ratio/2)*100%;
      top: 160px/$desktop-height-ratio*100%;
    }

    .fig-circle-1 {
      bottom: 23.35%;
      right: 230px/($desktop-home-ratio/2)*100%;
      top: auto;
      left: auto;
      z-index: 1;
    }

    .fig-circle-2 {
      top: 30%;
      right: 250px/($desktop-home-ratio/2)*100%;
    }
  }

  &.connect-page {
    .fig-square-big {
      top: 151px/$desktop-height-ratio*100%;
      right: -300px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-1 {
      height: 30px;
      bottom: 420px/$desktop-height-ratio*100%;
      right: 356px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-2 {
      bottom: 159px/$desktop-height-ratio*100%;
      right: 408px/($desktop-home-ratio/2)*100%;
    }

    .fig-circle-1 {
      width: 30px;
      right: 288px/($desktop-home-ratio/2)*100%;

    }

    .fig-square-1 {
      bottom: 92px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 131px/$desktop-height-ratio*100%;
      right: 23px/($desktop-home-ratio/2)*100%;
      left: auto;
    }
  }

  .arrows-scroll-down {
    position: absolute;
    bottom: 30px;
    left: 60px;

    svg {
      height: 24px;
      margin-top: -6px;
      @media #{$media-sm} {
        margin-top: -3px;
        height: 12px;
      }
    }

    @media #{$media-sm} {
      left: 30px;
    }
  }
}