.slide-menu .main-menu-item {
  .header-inner-page {
    height: 100vh;
    color: #fff;

    .hero {
      right: -171px/($desktop-home-ratio/2)*100%;
      left: initial;
      transform: translateY(-50%);

      @media #{$desktop-bad-ratio} {
        right: -171px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm-with-ratio} {
        right: -171px/$mobile-ratio-height*100vh;
      }

      &.hero-2 {
        bottom: 0;
        right: 0;
        top: auto;
        transform: translateY(0);
        width: $hero-2-width/$desktop-home-ratio*100vw;

        @media #{$desktop-bad-ratio} {
          width: auto;
          height: $hero-2-height/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          width: $hero-2-width/$mobile-ratio*100vw;
          right: -150px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          height: $hero-2-height/$mobile-ratio-height*100vh;
          width: auto;
          right: -150px/$mobile-ratio-height*100vh;
        }
      }

    }

    .plan-description {
      position: absolute;
      top: 30%;
      z-index: 1;

      p {
        color: #fff;
      }

      .btn {
        position: static;
        transform: none;
        left: auto;
      }
    }

    .fig-cross-1 {
      transform: translateY(-50%);
      right: -300px/($desktop-home-ratio/2)*100%;
      left: auto;

      @media #{$desktop-bad-ratio} {
        right: -300px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm-with-ratio} {
        right: -300px/$mobile-ratio-height*100vh;
      }
    }

    .fig-cross-2 {
      bottom: 33.33%;
      right: 350px/($desktop-home-ratio/2)*100%;
      left: auto;
    }

    .fig-square-1 {
      bottom: 120px/$desktop-height-ratio*100%;;
      left: 250px/($desktop-home-ratio/2)*100%;
    }

    .fig-square-2 {
      left: 234px/($desktop-home-ratio/2)*100%;
      top: 160px/$desktop-height-ratio*100%;
    }

    .fig-circle-1 {
      bottom: 23.35%;
      right: 230px/($desktop-home-ratio/2)*100%;
      top: auto;
      left: auto;
      z-index: 1;
    }

    .fig-circle-2 {
      top: 30%;
      right: 250px/($desktop-home-ratio/2)*100%;
    }
  }

  &.connect-page {
    .fig-square-big {
      bottom: 151px/$desktop-height-ratio*100%;
      right: -300px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-1 {
      height: 30px;
      bottom: 420px/$desktop-height-ratio*100%;
      right: 356px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-2 {
      bottom: 159px/$desktop-height-ratio*100%;
      right: 408px/($desktop-home-ratio/2)*100%;
    }

    .fig-circle-1 {
      width: 30px;
      right: 288px/($desktop-home-ratio/2)*100%;

    }

    .fig-square-1 {
      bottom: 92px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 131px/$desktop-height-ratio*100%;
      right: 23px/($desktop-home-ratio/2)*100%;
      left: auto;
    }
  }

  .arrows-scroll-down {
    position: absolute;
    bottom: 30px;
    left: 60px;

    &.to-right {
      transform: rotate(-90deg);
    }

    svg {
      height: 24px;
      margin-top: -6px;
      @media #{$media-sm} {
        margin-top: -3px;
        height: 12px;
      }
    }

    @media #{$media-sm} {
      left: 30px;
    }
  }
}

.connect-fullpage {
  @media #{$media-sm} {
    .hero {
      right: -171px/($desktop-home-ratio/2)*100%;
      left: initial;
      transform: translateY(-50%);
      position: absolute;
      z-index: 1;

      &.hero-2 {
        bottom: 0;
        right: 0;
        top: auto;
        transform: translateY(0);
        width: $hero-2-width/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: $hero-2-width/$mobile-ratio*100vw;
          right: -150px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          height: $hero-2-height/$mobile-ratio-height*100vh;
          width: auto;
          right: -150px/$mobile-ratio-height*100vh;
        }
      }

    }

    .plan-description {
      position: absolute;
      top: 30%;
      z-index: 1;

      p, h1 {
        color: #fff;
      }

      .btn {
        position: static;
        transform: none;
        left: auto;
      }
    }

    .fig {
      position: absolute;
    }

    .fig-square-big {
      bottom: 151px/$desktop-height-ratio*100%;
      right: -300px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-5 {
      height: 30px;
      bottom: 420px/$desktop-height-ratio*100%;
      right: 356px/($desktop-home-ratio/2)*100%;
    }

    .fig-cross-2 {
      bottom: 159px/$desktop-height-ratio*100%;
      right: 408px/($desktop-home-ratio/2)*100%;
    }

    .fig-circle-1 {
      width: 30px;
      right: 308px/($desktop-home-ratio/2)*100%;
      top: 88px/($desktop-home-ratio/2)*100%;
    }

    .fig-circle-2 {
      width: 30px;
      bottom: 25px/($desktop-home-ratio/2)*100%;
      right: 288px/($desktop-home-ratio/2)*100%;

    }

    .fig-square-1 {
      bottom: 92px/$desktop-height-ratio*100%;
    }

    .fig-square-3 {
      top: 131px/$desktop-height-ratio*100%;
      right: 23px/($desktop-home-ratio/2)*100%;
      left: auto;
    }
  }
}

.initial-animation {
  .homepage {
    .hero {

      @media #{$desktop-bad-ratio} {
        right: -171px/$desktop-height-ratio*100vh;
      }

      @media #{$media-sm-with-ratio} {
        right: -171px/$mobile-ratio-height*100vh;
      }

      @media #{$media-sm} {
        right: -171px/($desktop-home-ratio/2)*100%;
        left: initial;
        top: 50%;
      }

    }

    .plan-description {

    }

    /*  .fig-cross-1 {

        @media #{$desktop-bad-ratio} {
          right: -300px/$desktop-height-ratio*100vh;
        }

        @media #{$media-sm} {
          transform: translateY(-50%);
          right: -300px/$desktop-home-ratio*100%;
          left: auto;
        }

        @media #{$media-sm-with-ratio} {
          transform: translateY(-50%);
          right: -300px/($desktop-home-ratio/2)*100%;
          left: auto;
        }
      }

      .fig-cross-2 {
        @media #{$media-sm} {
          bottom: 33.33%;
          right: 350px/($desktop-home-ratio/2)*100%;
          left: auto;
        }
      }

      .fig-cross-4 {
        @media #{$media-sm} {
          bottom: -150px;
          right: 800px/($desktop-home-ratio/2)*100%;
          left: auto;
        }
      }

      .fig-square-1 {

        @media #{$media-sm} {
          bottom: 120px/$desktop-height-ratio*100%;
          left: 250px/($desktop-home-ratio/2)*100%;
        }
      }

      .fig-square-2 {
        @media #{$media-sm} {
          left: 234px/($desktop-home-ratio/2)*100%;
          top: 160px/$desktop-height-ratio*100%;
        }
      }

      .fig-circle-1 {
        @media #{$media-sm} {
          bottom: 23.35%;
          right: 230px/($desktop-home-ratio/2)*100%;
          top: auto;
          left: auto;
          z-index: 1;
        }
      }

      .fig-circle-2 {
        @media #{$media-sm} {
          top: 30%;
          right: 250px/($desktop-home-ratio/2)*100%;
        }
      }*/
  }
}