.slide-menu .main-menu-item {
  .header-inner-page {
    height: 100vh;
    color: #fff;
    margin-bottom: 125px;

    .hero {
      height: 97vh;
      max-height: 868px;
      right: -370px/$desktop-height-ratio/2*100vh;
      left: initial;
      transform: none;
    }

    .plan-description {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);

      p {
        color: #fff;
      }

      .btn {
        position: static;
        transform: none;
        left: auto;
      }
    }

    .fig-cross-1 {
      right: -300px/$desktop-height-ratio/2*100vh;
      left: auto;
    }

    .fig-cross-2 {
      bottom: 33.33%;
      right: 350px/$desktop-height-ratio/2*100vh;
      left: auto;
    }

    .fig-square-1 {
      top: 17.9%;
      left: 250px/$desktop-height-ratio/2*100vh;
    }

    .fig-square-2 {
      left: 234px/$desktop-height-ratio/2*100vh;
      bottom: 13.35%;
    }

    .fig-circle-1 {
      bottom: 23.35%;
      right: 230px/$desktop-height-ratio/2*100vh;
      top: auto;
      left: auto;
      z-index: 1;
    }

    .fig-circle-2 {
      top: 30%;
      right: 250px/$desktop-height-ratio/2*100vh;
    }
  }
}