.homepage {
  .hero {
    position: fixed;
    left: 72px/$desktop-home-ratio*100vw;
    bottom: 60px/$desktop-height-ratio*100vh;
    z-index: 1;
    width: $hero-width/$desktop-home-ratio*100vw;
    max-width: $hero-width;

    @media #{$desktop-bad-ratio} {
      max-height: $hero-height;
      height: $hero-height/$desktop-height-ratio*100vh;
      width: auto;
      right: -171px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      width: $hero-width/$mobile-ratio*100vw;
      max-width: $hero-width;
      right: -171px/($desktop-home-ratio/2)*100%;
      left: initial;
      top: 50%;
      transform: translateY(-50%) scaleX(1)!important;
    }

    @media #{$media-sm-with-ratio} {
      max-height: $hero-height;
      height: $hero-height/$mobile-ratio-height*100vh;
      width: auto;
      right: -171px/$mobile-ratio-height*100vh;
    }
  }

  .plan-description {
    margin-left: 855px/$desktop-home-ratio*100vw;
    z-index: 1;
    position: fixed;
    bottom: 269px/$desktop-height-ratio*100vh;

    p {
      margin-bottom: inherit;
    }

    @media #{$media-sm} {
      margin-left: 30px;
      top: 30%;
      bottom: auto;
    }
  }

  .fig {
    position: fixed;

    &.fig-cross-1 {
      height: 600px/$desktop-height-ratio*100vh;
      bottom: 150px/$desktop-height-ratio*100%;
      left: 8.75%;

      @media #{$media-sm} {
        right: -600px/$desktop-home-ratio*100%;
        left: auto;
      }

      @media #{$media-sm-with-ratio} {
        right: -300px/$mobile-ratio-height*100vh;
        left: auto;
      }

    }

    &.fig-cross-2 {
      height: 30px/$desktop-height-ratio*100vh;
      left: 14.75%;
      bottom: 465px/900px*100%;
    }

    &.fig-cross-3 {
      height: 30px/$desktop-height-ratio*100vh;
      left: 81.25%;
      bottom: 690px/$desktop-height-ratio*100%;
    }

    &.fig-cross-4 {
      height: 390px/$desktop-height-ratio*100vh;
      right: -195px/$desktop-home-ratio*100%;
      bottom: 255px/$desktop-height-ratio*100%;

      @media #{$media-sm} {
        left: -200px/$mobile-ratio*100%;
        bottom: -150px/$mobile-ratio*100%;
        right: auto;
      }
    }

    &.fig-circle-1 {
      height: 90px/$desktop-height-ratio*100vh;
      bottom: 220px/$desktop-height-ratio*100%;
      left: 10%;
    }

    &.fig-circle-2 {
      height: 30px/$desktop-height-ratio*100vh;
      bottom: 514px/$desktop-height-ratio*100%;
      left: 46.56%;
    }

    &.fig-circle-3 {
      height: 420px/$desktop-height-ratio*100vh;
      bottom: -350px/$desktop-height-ratio*100%;
      left: 57.50%;
    }

    &.fig-square-1 {
      height: 24px/$desktop-height-ratio*100vh;
      bottom: 220px/$desktop-height-ratio*100%;
      left: 2.50%;
    }

    &.fig-square-2 {
      height: 54px/$desktop-height-ratio*100vh;
      bottom: 400px/$desktop-height-ratio*100%;
      left: 37.50%;
    }
  }
}