.homepage {
  .hero {
    position: fixed;
    left: 16%;
    bottom: 0;
    z-index: 1;
    height: 97vh;
    max-height: 868px;
  }

  .plan-description {
    margin-left: 53%;
    z-index: 1;
    position: absolute;
    bottom: 30%;
  }

  .fig {
    position: fixed;

    &.fig-cross-1 {
      height: 600px/$desktop-height-ratio*100vh;
      bottom: 150px/$desktop-height-ratio*100%;
      left: 8.75%;

    }

    &.fig-cross-2 {
      height: 30px/$desktop-height-ratio*100vh;
      left: 14.75%;
      bottom: 465px/900px*100%;
    }

    &.fig-cross-3 {
      height: 30px/$desktop-height-ratio*100vh;
      left: 81.25%;
      bottom: 690px/$desktop-height-ratio*100%;
    }

    &.fig-cross-4 {
      height: 390px/$desktop-height-ratio*100vh;
      left: 87.80%;
      bottom: 255px/$desktop-height-ratio*100%;
    }

    &.fig-circle-1 {
      height: 90px/$desktop-height-ratio*100vh;
      bottom: 220px/$desktop-height-ratio*100%;
      left: 10%;
    }

    &.fig-circle-2 {
      height: 30px/$desktop-height-ratio*100vh;
      bottom: 514px/$desktop-height-ratio*100%;
      left: 46.56%;
    }

    &.fig-circle-3 {
      height: 420px/$desktop-height-ratio*100vh;
      bottom: -240px/$desktop-height-ratio*100%;
      left: 57.50%;
    }

    &.fig-square-1 {
      height: 24px/$desktop-height-ratio*100vh;
      bottom: 220px/$desktop-height-ratio*100%;
      left: 2.50%;
    }

    &.fig-square-2 {
      height: 54px/$desktop-height-ratio*100vh;
      bottom: 400px/$desktop-height-ratio*100%;
      left: 37.50%;
    }
  }
}