.main-article {
  h1 {
    padding-top: 30vh;
    padding-bottom: 1.26em;
  }

  a {
    color: $purple;

    &:hover {
      color: $yellow;
    }
  }

  .about-blockquote {
    line-height: 1.2;
    max-width: 400px;
  }

  .contacts-table {
    padding-top: 75px/$desktop-home-ratio*100vw;
    font-size: 18px/$desktop-home-ratio*100vw;
    line-height: 1.55;

    @media #{$desktop-bad-ratio} {
      padding-top: 75px/$desktop-height-ratio * 100vh;
      font-size: 18px/$desktop-height-ratio * 100vh;
    }

    @media #{$media-sm} {
      padding-top: 75px/$mobile-ratio * 100vw;
      font-size: 22px/$mobile-ratio * 100vw;
    }

    @media #{$media-sm-with-ratio} {
      padding-top: 75px/$mobile-ratio*100vh;
      font-size: 22px/$mobile-ratio*100vh;
    }

    .contacts-col {
      float: left;
      width: 49%;

      @media #{$media-sm} {
        float: none;
        width: auto;
      }

      &.contacts-second-col {
        float: right;
        @media #{$media-sm} {
          float: none;
          width: auto;
        }
      }
    }

    .link-map {
      display: block;
      float: left;
      clear: both;
      margin-top: 30px/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        margin-top: 30px/$desktop-height-ratio * 100vh;
      }

      @media #{$media-sm} {
        margin-top: 30px/$mobile-ratio * 100vw;
      }

      @media #{$media-sm-with-ratio} {
        margin-top: 30px/$mobile-ratio*100vh;
      }
    }
  }

  .download-instruction {
    display: inline-flex;
    align-items: center;
    color: $green;

    img {
      width: 28px/$desktop-home-ratio*100vw;
      margin-right: 10px;

      @media #{$media-sm} {
        width: 28px/$mobile-ratio*100vw;
      }
    }
  }
}