.plan-description {
  width: 400px/$desktop-home-ratio * 100vw;

  @media #{$media-sm} {
    width: 100%;
  }

  .connect-success-step {
    display: none;
    .show-connect-step-success & {
      display: inline-block;
      clear: both;
      float: left;
    }
  }

  h1, p, a {
    .show-connect-step-success & {
      display: none;
    }
  }

  p + p {
    padding-top: 0;
  }

  h1 {
    padding-bottom: 24px/90px * 1em;
    font-size: 90px/$desktop-home-ratio * 100vw;

    @media #{$desktop-bad-ratio} {
      font-size: 90px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      font-size: 108px/$mobile-ratio * 100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 108px/$mobile-ratio-height * 100vh;
    }
  }

  p {
    font-size: 36px/$desktop-home-ratio * 100vw;
    line-height: 1.1;
    color: #000;
    padding-bottom: 36px/40px * 1em;
    font-family: $font-ultima-name;

    @media #{$desktop-bad-ratio} {
      font-size: 36px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      font-size: 36px/$mobile-ratio * 100vw;
      width: 60vw;
      padding-bottom: .6em;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 36px/$mobile-ratio-height * 100vh;
    }
  }

  sup {
    font-weight: 700;
    font-size: 20px/$desktop-home-ratio * 100vw;
    vertical-align: super;

    @media #{$desktop-bad-ratio} {
      font-size: 20px/$desktop-height-ratio*100vh;
    }

    @media #{$media-sm} {
      font-size: 20px/$mobile-ratio * 100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 20px/$mobile-ratio-height * 100vh;
    }
  }
}