.plan-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  @media #{$media-sm} {
    margin: 0;
  }

  .plan-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-5px/$desktop-home-ratio*100vw);

    @media #{$media-sm} {
      margin: 0 (-10px/$mobile-ratio * 100vw);
    }

    @media #{$media-sm-with-ratio} {
      margin: 0 (-10px/$mobile-ratio-height * 100vh);
    }
  }

  .plan-item {
    background: $purple;
    border-radius: 30px/$desktop-home-ratio*100vw;
    flex: 0 1 220px/$desktop-home-ratio*100vw;
    //width: 220px/$desktop-home-ratio*100vw;
    height: 220px/$desktop-home-ratio*100vw;
    margin: 5px/$desktop-home-ratio*100vw;
    padding: (20px/$desktop-home-ratio*100vw) (10px/$desktop-home-ratio*100vw);
    font-size: (20px/$desktop-home-ratio*100vw);
    color: #fff;
    line-height: 1.1;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media #{$desktop-bad-ratio} {
      flex: 1 1 220px/$desktop-height-ratio*100vh;
      height: 220px/$desktop-height-ratio*100vh;
      font-size: 20px/$desktop-height-ratio * 100vh;
      padding: (20px/$desktop-height-ratio*100vh) (10px/$desktop-height-ratio*100vh);
      border-radius: 30px/$desktop-height-ratio * 100vh;
      margin: 5px/$desktop-height-ratio * 100vh;
    }

    @media #{$media-sm} {
      font-size: 22px/$mobile-ratio * 100vw;
      padding: (25px/$mobile-ratio*100vw) (20px/$mobile-ratio*100vw);
      border-radius: 30px/$mobile-ratio * 100vw;
      margin: 10px/$mobile-ratio * 100vw;
      flex: 0 1 250px/$mobile-ratio*100vw;
      height: 250px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 22px/$mobile-ratio-height * 100vh;
      padding: (25px/$mobile-ratio-height*100vh) (20px/$mobile-ratio-height*100vh);
      border-radius: 30px/$mobile-ratio-height * 100vh;
      margin: 10px/$mobile-ratio-height * 100vh;
      flex: 1 1 250px/$mobile-ratio-height*100vh;
      height: 250px/$mobile-ratio-height*100vh;
    }

    .plan-title-icon {
      display: flex;
      align-items: center;
      margin: 0 auto 16px/$desktop-home-ratio*100vw;
      height: 100px/$desktop-home-ratio*100vw;

      @media #{$media-sm} {
        height: 100px/$mobile-ratio*100vw;
        margin-bottom: 30px/$mobile-ratio*100vw;
      }

      @media #{$media-sm} {
        height: 100px/$mobile-ratio-height*100vh;
        margin-bottom: 30px/$mobile-ratio-height*100vh;
      }

      svg {
        width: 100%;
      }

      &.icon-pult {
        width: 48px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 48px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 48px/$mobile-ratio-height*100vh;
        }
      }

      &.icon-wifi {
        width: 93px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 93px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 93px/$mobile-ratio-height*100vh;
        }
      }

      &.icon-radio {
        width: 82px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 82px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 82px/$mobile-ratio-height*100vh;
        }
      }

      &.icon-speed {
        width: 78px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 78px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 78px/$mobile-ratio-height*100vh;
        }
      }

      &.icon-camera {
        width: 84px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 84px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 84px/$mobile-ratio-height*100vh;
        }
      }

      &.icon-headphones {
        width: 84px/$desktop-home-ratio*100vw;

        @media #{$media-sm} {
          width: 84px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          width: 84px/$mobile-ratio-height*100vh;
        }
      }

      @media #{$desktop-bad-ratio} {
        font-size: 20px/$desktop-height-ratio * 100vh;
        flex-basis: 180px/$desktop-height-ratio * 100vh;
        //width: 100px/$desktop-height-ratio * 100vh;
      }

      @media #{$media-sm} {
        max-width: 100%;
        height: 82px/$mobile-ratio * 100vw;
      }

      @media #{$media-sm-with-ratio} {
        width: 100px/$mobile-ratio-height * 100vh;
        height: 82px/$mobile-ratio-height * 100vh;
        min-height: inherit;
      }
    }

    .plan-title {
      display: block;
      font: $font-ultima;
      font-size: (20px/$desktop-home-ratio*100vw);
      line-height: 1.1;

      @media #{$desktop-bad-ratio} {
        font-size: 20px/$desktop-height-ratio * 100vh;
      }

      @media #{$media-sm} {
        font-size: 22px/$mobile-ratio * 100vw;
      }

      @media #{$media-sm-with-ratio} {
        font-size: 22px/$mobile-ratio-height * 100vh;
      }
    }
  }
}