.plan-description {
  width: 400px;

  h1 {
    padding-bottom: 24px;
  }

  p {
    font-size: 36px;
    line-height: 1.1;
    color: #000;
    padding-bottom: 40px;
  }

  sup {
    font-weight: 700;
    font-size: 20px;
    vertical-align: super;
  }
}