.slide-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: transform .5s ease, opacity 1s ease;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;

  @media #{$media-sm} {
    transform: translateX(0);
  }

  .logo {
    width: 138px/$desktop-home-ratio*100vw;
    max-width: 138px;
    display: block;
    padding-top: 50px;

    @media #{$media-sm} {
      display: none;
    }
  }

  .menu-container {
    width: 50%;
    background: $purple-dark;
    height: 100vh;
    position: relative;
    z-index: 999;
    transition: opacity .5s, transform .5s;
    overflow: hidden;

    &:before {
      opacity: 0;
      transition: opacity .5s;
    }

    @media #{$media-sm} {
      width: 100%;
      overflow-y: scroll;
      opacity: 0;
      transform: translateX(-100%);

      .show-hamburger & {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .slide-menu-nav, .cabinet-nav {
      position: absolute;
      top: 30%;
      bottom: 32%;
      width: 100%;

      @media #{$media-sm} {
        position: relative;
        margin-top: 30vh;
        overflow: hidden;
      }

      ul {
        float: left;
        margin-left: 13%;

        @media #{$media-sm} {
          margin-left: 0;
        }

        @media #{$media-sm-with-ratio} {
          margin-left: 13%;
        }

        &:first-child {
          margin-left: 0;
        }
        li {
          a {
            color: #fff;
            font: $font-body;
            font-weight: 300;
            font-size: 2.625vw; //42px;

            @media #{$desktop-bad-ratio} {
              font-size: 42px/$desktop-height-ratio*100vh;
            }

            @media #{$media-sm} {
              font-size: 63px/$mobile-ratio *100vw;
            }

            @media #{$media-sm-with-ratio} {
              font-size: 63px/$mobile-ratio*100vh;
            }

            &:hover, &.active {
              color: $yellow;
            }

            &.has-submenu {
              &:after {
                content: '+';
                display: inline-block;
                background-color: #fff;
                -webkit-mask: url(./../img/arrow-green.svg) no-repeat center;
                -webkit-mask-size: 65%;
                transform: rotate(-90deg);
                height: 26px;
                margin-left: 30px;
                line-height: .8;
              }
            }
          }
        }
      }

    }

    .cabinet-nav {
      right: 0;
      top: 0;
      width: 55%;
      height: 100vh;
      background: $purple-dark;
      z-index: 2;
      transition: opacity .5s, transform .5s;
      transform: translateX(100%);
      opacity: 0;

      @media #{$media-sm} {
        display: none;
      }

      ul {
        padding-left: 50px;
        top: 30%;
        position: absolute;
      }

      .cabinet-user-menu-info, .exit-user {
        font-size: 18px;
        color: $white-50;
        position: absolute;
        top: 700px/$desktop-height-ratio*100%;
        left: 50px;
      }

      .cabinet-menu-footer {
        bottom: 50px;
        position: absolute;
        display: flex;
        width: 100%;

        .exit-user {
          display: flex;
          align-items: center;
          top: auto;
          position: relative;
          margin-right: auto;

          svg {
            width: 30px;
            margin-right: 20px;

            line {
              stroke: $green;
            }
          }
        }

        .make-call {
          margin-left: auto;

          svg {
            path {
              fill: $yellow;
            }
          }
        }
      }
    }

    .back-to-main-menu {
      display: flex;
      align-items: center;
      color: $white-30;
      font-size: 18px;
      position: absolute;
      bottom: 60px;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      transition: opacity .5s;

      @media #{$media-sm} {
        display: none;
      }

      &:hover {
        color: $yellow;
      }

      &:before {
        content: '';
        background: url('./../img/arrow-yellow.svg') no-repeat;
        height: 24px;
        width: 14px;
        transform: rotate(180deg);
        margin-right: 20px;
      }
    }

    .mobile-cabinet-menu {
      margin: 20px 0;
      display: none;
    }

    .social-icons {
      position: absolute;
      top: 78.65%;

      @media #{$media-sm} {
        position: relative;
        clear: both;
        margin: 57px 0;
        overflow: hidden;
      }

      li {
        display: block;
        float: left;
        margin-left: 42px;

        &:first-child {
          margin-left: 0;
        }

        svg {
          height: 22px;

          line, path {
            transition: fill $transition-time, stroke $transition-time;
            fill: $yellow;
            stroke: $yellow;
          }

          &:hover {
            line, path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
      }
    }

    .slider-menu-footer {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      padding-bottom: 47px;
      width: calc(100% - 120px);

      @media #{$media-sm} {
        display: none;
      }

      .close-slider-menu {
        margin-right: auto;
        color: $white-30;
        font-size: 18px;
        position: relative;

        &:before, &:after {
          content: '';
          display: block;
          width: 30px;
          height: 4px;
          border-radius: 2px;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -2px;
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }

        .text {
          margin-left: 45px;
          line-height: 30px;
        }

        & + .make-call {
          margin: inherit;
        }
      }

      .make-call {
        margin-left: auto;
        margin-right: inherit;

        svg {
          path {
            fill: $yellow;
          }
        }
      }

      .personal-area {
        margin-left: auto;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    &.show-cabinet-menu {

      .mobile-cabinet-menu {
        display: block;
      }

      .has-submenu {
          &:after {
            transform: rotate(90deg)!important;
          }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .2);
        z-index: 1;
        opacity: 1;
        @media #{$media-sm} {
          display: none;
        }
      }

      .cabinet-nav {
        transform: translateX(0);
        opacity: 1;
      }

      .slider-menu-footer {
        display: none;
      }

      .back-to-main-menu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .main-menu-item {
    height: 100vh;
    width: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;

    &.only-menu-section {
      @media #{$media-sm} {
        display: none;
      }
    }

    @media #{$media-sm} {
      width: 100%;
      left: 0;
    }

    .hero {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      width: $hero-width/$desktop-home-ratio*100vw;

      @media #{$desktop-bad-ratio} {
        max-height: $hero-height;
        height: $hero-height/$desktop-height-ratio*100vh;
        width: auto;
      }

      @media #{$media-sm} {
        width: $hero-width/$mobile-ratio*100vw;
        max-width: $hero-width;
      }

      @media #{$media-sm-with-ratio} {
        max-height: $hero-height;
        height: $hero-height/$mobile-ratio-height*100vh;
        width: auto;
      }
    }

    .btn {
      &.btn-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
      }
    }

    .fig {
      position: absolute;
    }

    .fig-cross-1 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      //bottom: 150px/$desktop-height-ratio*100%;
      left: 50%;
      //margin: -300px 0 0 -300px;
    }

    .fig-cross-2 {
      bottom: 464px/$desktop-height-ratio*100%;
      left: 29.5%;
    }

    .fig-cross-3 {
      top: 130px/$desktop-height-ratio*100%;
      right: 27.5%;
    }

    .fig-circle-1 {
      top: 590px/$desktop-height-ratio*100%;
      left: 13.35%;
    }

    .fig-circle-2 {
      top: 356px/$desktop-height-ratio*100%;
      right: 3%;
    }

    .fig-square-1 {
      left: 5%;
      bottom: 220px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 446px/$desktop-height-ratio*100%;
      right: 18.25%;
    }

    .inner-page & {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .show-filter-options &, .show-sub-options & {
      overflow: hidden;
    }

  }

  .show-menu & {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .inner-page &, .show-hamburger & {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;

    .close-slider-menu {
      display: none;
    }
  }

  .show-hamburger & {

  }
}