.slide-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: transform .5s ease, opacity 1s ease;
  transform: translateX(100%);
  opacity: 0;

  .logo {
    width: 138px;
    display: block;
    padding-top: 50px;

    @media #{$media-sm} {
      display: none;
    }
  }

  .menu-container {
    width: 50%;
    background: $purple-dark;
    height: 100vh;
    position: relative;
    z-index: 2;
    transition: opacity .5s, transform .5s;

    @media #{$media-sm} {
      width: 100%;
      overflow-y: scroll;
      opacity: 0;
      transform: translateX(-100%);

      .show-hamburger & {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .slide-menu-nav {
      position: absolute;
      top: 30%;
      bottom: 32%;
      width: 100%;

      @media #{$media-sm} {
        position: relative;
        margin-top: 30vh;
        overflow: hidden;
      }

      ul {
        float: left;
        margin-left: 13%;

        @media #{$media-sm} {
          margin-left: 0;
        }

        &:first-child {
          margin-left: 0;
        }
        li {
          a {
            color: #fff;
            font: $font-body;
            font-weight: 300;
            font-size: 2.625vw; //42px;

            @media #{$media-sm} {
              font-size: 63px/$mobile-ratio *100vw;
            }

            &:hover, &.active {
              color: $yellow;
            }
          }
        }
      }

    }

    .social-icons {
      position: absolute;
      top: 78.65%;

      @media #{$media-sm} {
        position: relative;
        clear: both;
        margin: 57px 0;
        overflow: hidden;
      }

      li {
        display: block;
        float: left;
        margin-left: 42px;

        &:first-child {
          margin-left: 0;
        }

        svg {
          height: 22px;

          line, path {
            transition: fill $transition-time, stroke $transition-time;
            fill: $yellow;
            stroke: $yellow;
          }

          &:hover {
            line, path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
      }
    }

    .slider-menu-footer {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      padding-bottom: 47px;
      width: calc(100% - 120px);

      .close-slider-menu {
        margin-right: auto;
        color: $white-30;
        font-size: 18px;
        position: relative;

        &:before, &:after {
          content: '';
          display: block;
          width: 30px;
          height: 4px;
          border-radius: 2px;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -2px;
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }

        .text {
          margin-left: 45px;
          line-height: 30px;
        }
      }

      .phone-icon {
        margin: 0 auto;
      }

      .personal-area {
        margin-left: auto;
      }
    }
  }

  .main-menu-item {
    height: 100vh;
    width: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;

    @media #{$media-sm} {
      width: 100%;
      left: 0;
    }

    .hero {
      position: absolute;
      top: 50%;
      //bottom: 60px/$hero-height*100%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      //height: $hero-height/$desktop-height-ratio*100vh;
      //max-height: $hero-height;
      width: $hero-width/$desktop-home-ratio*100vw;

      @media #{$media-sm} {
        width: $hero-width/$mobile-ratio*100vw;
        max-width: $hero-width;
      }
    }

    .btn {
      &.btn-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
      }
    }

    .fig {
      position: absolute;
    }

    .fig-cross-1 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      //bottom: 150px/$desktop-height-ratio*100%;
      left: 50%;
      //margin: -300px 0 0 -300px;
    }

    .fig-cross-2 {
      bottom: 464px/$desktop-height-ratio*100%;
      left: 29.5%;
    }

    .fig-cross-3 {
      top: 130px/$desktop-height-ratio*100%;
      right: 27.5%;
    }

    .fig-circle-1 {
      top: 590px/$desktop-height-ratio*100%;
      left: 13.35%;
    }

    .fig-circle-2 {
      top: 356px/$desktop-height-ratio*100%;
      right: 3%;
    }

    .fig-square-1 {
      left: 5%;
      bottom: 220px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 446px/$desktop-height-ratio*100%;
      right: 18.25%;
    }

    .inner-page & {
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }

  .show-menu & {
    transform: translateX(0);
    opacity: 1;
  }

  .inner-page & {
    transform: translateX(0);
    opacity: 1;
  }
}