.slide-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: transform .5s ease;
  transform: translateY(100%);
  pointer-events: none;

  @media screen and (min-width: 1024px) {
    opacity: 0;
  }

  @media #{$media-tablet} {
    transform: translateX(0);
  }

  .logo {
    width: 138px/$desktop-home-ratio*100vw;
    max-width: 138px;
    display: block;
    padding-top: 50px/$desktop-home-ratio*100vw;

    @media #{$desktop-1600} {
      padding-top: 50px;
    }

    @media #{$media-tablet} {
      display: none;
    }
  }

  .menu-container {
    width: 50%;
    background: $purple-dark;
    height: 100vh;
    position: relative;
    z-index: 999;
    transition: opacity .5s, transform .5s;
    overflow: hidden;

    &:before {
      opacity: 0;
      transition: opacity .5s;
      content: '';
      position: absolute;
      pointer-events: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, .2);
      z-index: 1;
    }

    &.show-cabinet-menu:before {
      pointer-events: auto;
    }

    @media #{$media-tablet} {
      width: 100%;
      overflow-y: scroll;
      opacity: 0;
      transform: translateX(-100%);

      .show-hamburger & {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .slide-menu-nav, .cabinet-nav {
      position: absolute;
      top: 28.5%;
      bottom: 32%;

      @media #{$media-sm} {
        position: relative;
        margin-top: 170px;
        overflow: hidden;
      }

      @media #{$media-sm-with-ratio} {
        margin-top: 30vh;
      }

      ul {
        float: left;
        margin-left: 152px/$desktop-home-ratio*100vw;

        @media #{$media-tablet} {
          margin-left: 0;
          width: 100%;
        }

        @media #{$media-sm-with-ratio} {
          width: auto;
          margin-left: 19%;
        }

        &:first-child {
          margin-left: 0;
        }
        li {
          a {
            color: #fff;
            font: $font-body;
            font-weight: 300;
            font-size: 2.625vw; //42px;
            line-height: 1.43;

            @media #{$desktop-bad-ratio} {
              font-size: 42px/$desktop-height-ratio*100vh;
            }

            @media #{$media-tablet} {
              font-size: 42px/$tablet-ratio*100vw;
            }

            @media #{$media-sm} {
              font-size: 63px/$mobile-ratio *100vw;
            }

            @media #{$media-sm-with-ratio} {
              font-size: 63px/$mobile-ratio*100vh;
            }

            &:hover, &.active {
              color: $yellow;
            }

            &.has-submenu {
              &:after {
                content: '';
                background-color: #fff;
                -webkit-mask: url(./../img/arrow-green.svg) no-repeat center;
                -webkit-mask-size: 65%;
                transform: rotate(-90deg);
                height: 26px;
                margin-left: 30px;
                display: none;
                width: 20px;
                margin-bottom: -4px;

                @media screen and (min-width: 1024px) {
                  display: none!important;
                }
              }
            }
          }
        }
      }

    }

    .slide-menu-nav {
      width: calc(100% - 3.75vw);
      display: flex;

      @media #{$desktop-bad-ratio} {
        width: calc(100% - 6.66667vh);
      }

      @media #{$media-tablet} {
        width: calc(100% - 3.75vw);
      }

      @media #{$media-sm} {
        flex-direction: column;
      }

      @media #{$media-sm-with-ratio} {
      }

      ul {
        flex-basis: 50%;
        padding-right: 30px/$desktop-home-ratio*100vw;

        &:last-child {
            margin-left: 0;
          padding-right: 60px/$desktop-home-ratio*100vw;
        }
      }
    }

    .cabinet-nav {
      right: 0;
      top: 0;
      width: 50%;
      height: 100vh;
      background: $purple-dark;
      z-index: 2;
      transition: opacity .5s, transform .5s;
      transform: translateX(100%);
      opacity: 0;

      @media #{$media-sm} {
        display: none;
      }

      ul {
        padding-left: 57px/$desktop-home-ratio*100vw;
        top: 28.5%;
        position: absolute;

        @media #{$media-tablet} {
          padding-left: 57px/$tablet-ratio*100vw;
        }
      }

      .cabinet-user-menu-info {
        line-height: 1.22;
      }

      .cabinet-user-menu-info, .exit-user {
        font-size: 18px/$desktop-home-ratio*100vw;
        color: $white-50;
        position: absolute;
        top: 695px/$desktop-height-ratio*100%;
        left: 60px/$desktop-home-ratio*100vw;

        @media #{$media-tablet} {
          font-size: 18px/$tablet-ratio*100vw;
          top: 695px/$desktop-height-ratio*100%;
          left: 60px/$tablet-ratio*100vw;
        }

        @media #{$desktop-bad-ratio} {
          font-size: 18px/$desktop-height-ratio*100vh;
        }

        @media #{$desktop-1600} {
          font-size: 18px;
        }
      }

      .cabinet-menu-footer {
        bottom: 46px/$desktop-home-ratio*100vw;
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;

        @media #{$media-tablet} {
          bottom: 46px/$tablet-ratio*100vw;
        }

        @media #{$desktop-1600} {
          bottom: 46px;
        }

        .exit-user {
          display: flex;
          align-items: center;
          top: auto;
          position: relative;
          margin-right: auto;

          &:hover {
            .text {
              color: #fff;
            }
          }

          svg {
            width: 30px/$desktop-home-ratio*100vw;
            max-width: 30px;
            margin-right: 20px/$desktop-home-ratio*100vw;

            @media #{$media-tablet} {
              width: 30px/$tablet-ratio*100vw;
              margin-right: 20px/$tablet-ratio*100vw;
            }

            @media #{$desktop-bad-ratio} {
              width: 30px/$desktop-height-ratio*100vh;
              margin-right: 20px/$desktop-height-ratio*100vh;
            }

            @media #{$desktop-1600} {
              margin-right: 20px;
            }

            line {
              stroke: $green;
            }
          }
        }

        .make-call {
          margin-left: auto;
          width: 42px/$desktop-home-ratio*100vw;
          font-size: 0;
          right: 40px/$desktop-home-ratio*100vw;
          position: relative;
          left: initial;

          @media #{$media-tablet} {
            width: 42px/$tablet-ratio*100vw;
            right: 60px/$tablet-ratio*100vw;
          }

          .phone-tooltip {
            font-size: 30px/$desktop-home-ratio*100vw;
            padding: (22px/$desktop-home-ratio*100vw) (60px/$desktop-home-ratio*100vw);
            min-width: 300px/$desktop-home-ratio*100vw;
            left: -180%;

            &:before {
              left: 82%;
            }

            @media #{$desktop-1600} {
              font-size: 30px;
              padding: 22px 60px;
              min-width: 300px;
            }
          }

          svg {
            path {
              fill: $yellow;
            }
          }
        }
      }
    }
    
    .back-to-main-menu {
      display: flex;
      align-items: center;
      color: $white-30;
      font-size: 18px/$desktop-home-ratio*100vw;
      position: absolute;
      bottom: 55px/$desktop-home-ratio*100vw;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s, color .2s;
      
      @media #{$desktop-bad-ratio} {
        font-size: 18px/$desktop-height-ratio*100vh;
        bottom: 55px/$desktop-height-ratio*100vh;
      }

      @media #{$desktop-1600} {
        font-size: 18px;
        bottom: 55px;
      }

      @media #{$media-tablet} {
        font-size: 18px/$tablet-ratio*100vw;
        bottom: 55px/$tablet-ratio*100vw;
      }
      
      @media #{$media-sm} {
        display: none;
      }

      &:hover {
        color: #fff;
      }

      &:before {
        content: '';
        background: url('./../img/arrow-yellow.svg') no-repeat;
        height: 24px/$desktop-home-ratio*100vw;
        width: 14px/$desktop-home-ratio*100vw;
        max-width: 14px;
        max-height: 24px;
        transform: rotate(180deg);
        margin-right: 20px/$desktop-home-ratio*100vw;

        @media #{$desktop-bad-ratio} {
          width: 14px/$desktop-height-ratio*100vh;
          height: 24px/$desktop-height-ratio*100vh;
          margin-right: 20px/$desktop-height-ratio*100vh;
        }

        @media #{$media-tablet} {
          height: 24px/$tablet-ratio*100vw;
          width: 14px/$tablet-ratio*100vw;
          margin-right: 20px/$tablet-ratio*100vw;
        }

        @media #{$desktop-1600} {
          margin-right: 20px;
        }
      }
    }

    .mobile-cabinet-menu {
      margin: 20px 0;
      display: none;
    }

    .social-icons {
      position: absolute;
      top: 702px/$desktop-height-ratio*100%;

      @media #{$media-sm} {
        position: relative;
        clear: both;
        margin: 57px 0;
        overflow: hidden;
      }

      li {
        display: block;
        float: left;
        margin-left: 42px/$desktop-home-ratio*100vw;

        &:first-child {
          margin-left: 0;
        }

        @media #{$desktop-bad-ratio} {
          margin-left: 42px/$desktop-height-ratio*100vh;
        }

        @media #{$media-tablet} {
          margin-left: 42px/$tablet-ratio*100vw;
        }

        @media #{$media-sm} {
          margin-left: 78px/$mobile-ratio*100vw;
        }

        @media #{$media-sm-with-ratio} {
          margin-left: 78px/$mobile-ratio-height*100vh;
        }

        svg {
          height: 22px/$desktop-home-ratio*100vw;

          @media #{$desktop-bad-ratio} {
            height: 22px/$desktop-height-ratio*100vh;
          }

          @media #{$media-tablet} {
            height: 22px/$mobile-ratio*100vw;
          }

          @media #{$media-sm} {
            height: 50px/$mobile-ratio*100vw;
          }

          @media #{$media-sm-with-ratio} {
            height: 50px/$mobile-ratio-height*100vh;
          }

          line, path {
            transition: fill .2s, stroke .2s;
            fill: $yellow;
          }

          &:hover {
            line, path {
              fill: #fff;
            }
          }
        }
      }
    }

    .slider-menu-footer {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      padding-bottom: 40px/$desktop-home-ratio*100vw;
      width: calc(100% - 120px);

      @media #{$desktop-1600} {
        padding-bottom: 40px;
      }

      @media #{$media-tablet} {
        display: none;
      }

      .close-slider-menu {
        margin-right: auto;
        color: $white-30;
        font-size: 18px/$desktop-home-ratio*100vw;
        position: relative;
        display: flex;
        align-items: center;
        transition: color $transition-time;

        &:hover {
          .text {
            color: #fff;
          }
        }

        @media #{$desktop-bad-ratio} {
          font-size: 18px/$desktop-height-ratio*100vh;
        }

        @media #{$desktop-1600} {
          font-size: 18px;
        }

        .close-menu-icon {
          width: 30px/$desktop-home-ratio*100vw;
          height: 30px/$desktop-home-ratio*100vw;
          max-width: 30px;
          max-height: 30px;

          @media #{$desktop-bad-ratio} {
            width: 30px/$desktop-height-ratio*100vh;
            height: 30px/$desktop-height-ratio*100vh;
          }
        }

        .text {
          margin-left: 20px/$desktop-home-ratio*100vw;

          @media #{$desktop-bad-ratio} {
            margin-left: 20px/$desktop-height-ratio*100vh;
          }

          @media #{$desktop-1600} {
            margin-left: 20px;
          }
        }
      }

      .make-call {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 42px/$desktop-home-ratio*100vw;
        max-width: 42px;
        font-size: 0;

        @media #{$desktop-bad-ratio} {
          width: 42px/$desktop-height-ratio*100vh;
        }

        .phone-tooltip {
          font-size: 30px/$desktop-home-ratio*100vw;
          padding: (22px/$desktop-home-ratio*100vw) (60px/$desktop-home-ratio*100vw);
          min-width: 300px/$desktop-home-ratio*100vw;

          @media #{$desktop-bad-ratio} {
            font-size: 30px/$desktop-height-ratio*100vh;
            padding: (22px/$desktop-height-ratio*100vh) (60px/$desktop-height-ratio*100vh);
            min-width: 300px/$desktop-height-ratio*100vh;
          }

          @media #{$desktop-1600} {
            font-size: 30px;
            padding: 22px 60px;
            min-width: 300px;
          }
        }

        svg {
          path {
            fill: $yellow;
          }
        }
      }

      .personal-area {
        margin-left: auto;
        width: 42px/$desktop-home-ratio*100vw;
        max-width: 42px;

        @media #{$desktop-bad-ratio} {
          width: 42px/$desktop-height-ratio*100vh;
        }

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    &.show-cabinet-menu {

      .mobile-cabinet-menu {
        @media #{$media-sm} {
          display: block;
        }
      }

      .has-submenu {
        &:after {
          display: inline-block !important;
          transform: rotate(90deg) !important;
        }
      }

      &:before {
        opacity: 1;
        @media #{$media-sm} {
          display: none;
        }
      }

      .cabinet-nav {
        transform: translateX(0);
        opacity: 1;
      }

      .slider-menu-footer {
        display: none;
      }

      .back-to-main-menu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .main-menu-item {
    height: 100vh;
    width: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;

    &.only-menu-section {
      @media #{$media-tablet} {
        display: none;
      }
    }

    @media #{$media-tablet} {
      width: 100%;
      left: 0;
    }

    .hero {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 1;
      height: $hero-height/$desktop-height-ratio*100vh;

      @media #{$media-sm} {
        height: $hero-height/$mobile-ratio-height*100vh;
      }

      @media #{$media-sm-with-ratio} {
        height: $hero-height/$mobile-ratio-height*100vh;
      }
    }

    .btn {
      &.btn-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
      }
    }

    .fig {
      position: absolute;
    }

    .fig-cross-1 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      //bottom: 150px/$desktop-height-ratio*100%;
      left: 50%;
      //margin: -300px 0 0 -300px;
    }

    .fig-cross-2 {
      bottom: 464px/$desktop-height-ratio*100%;
      left: 29.5%;
    }

    .fig-cross-3 {
      top: 130px/$desktop-height-ratio*100%;
      right: 27.5%;
    }

    .fig-circle-1 {
      top: 590px/$desktop-height-ratio*100%;
      left: 13.35%;
    }

    .fig-circle-2 {
      top: 356px/$desktop-height-ratio*100%;
      right: 3%;
    }

    .fig-square-1 {
      left: 5%;
      bottom: 220px/$desktop-height-ratio*100%;
    }

    .fig-square-2 {
      top: 446px/$desktop-height-ratio*100%;
      right: 18.25%;
    }

    .inner-page & {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .show-filter-options &, .show-sub-options & {
      overflow: hidden;
    }

  }

  .show-menu & {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .inner-page &, .show-hamburger & {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .show-hamburger & {

  }
}