html {
  font: $font-body;
  color: $main-black;
}

a {
  color: $main-black;
  text-decoration: none;

  &, .text {
    transition: color $transition-time;
  }

  &:hover {
    &, .text {
      color: $yellow;
    }
  }
}

h1, h2, h3, h4 {
  font: $font-ultima;
  .dark-grey-bg &, .green-bg & {
    color: #fff;
  }
}

h1 {
  font-size: 90px/$desktop-home-ratio*100vw;

  @media #{$desktop-bad-ratio} {
    font-size: 90px/$desktop-height-ratio * 100vh;
  }

  @media #{$media-sm} {
    font-size: 108px/$mobile-ratio * 100vw;
  }

  @media #{$media-sm-with-ratio} {
    font-size: 108px/$mobile-ratio*100vh;
  }
}

h2 {
  font-size: 48px/$desktop-home-ratio*100vw;
  padding-bottom: .93em;

  @media #{$desktop-bad-ratio} {
    font-size: 48px/$desktop-height-ratio * 100vh;
  }

  @media #{$media-sm} {
    font-size: 42px/$mobile-ratio * 100vw;
  }

  @media #{$media-sm-with-ratio} {
    font-size: 42px/$mobile-ratio*100vh;
  }

  .dark-grey-bg & {
    color: #fff;
  }
}

h4 {
  font-size: 32px/$desktop-home-ratio*100vw;
  padding-bottom: 1em;

  @media #{$desktop-bad-ratio} {
    font-size: 32px/$desktop-height-ratio * 100vh;
  }

  @media #{$media-sm} {
    font-size: 32px/$mobile-ratio * 100vw;
  }

  @media #{$media-sm-with-ratio} {
    font-size: 32px/$mobile-ratio*100vh;
  }

  .dark-grey-bg & {
    color: #fff;
  }
}

p {
  font-size: 20px/$desktop-home-ratio*100vw;
  line-height: 1.36;
  color: $black-60;

  &:only-of-type {
    margin-bottom: 36px/20px*1em;
  }

  @media #{$desktop-bad-ratio} {
    font-size: 20px/$desktop-height-ratio * 100vh;
  }

  @media #{$media-sm} {
    font-size: 26px/$mobile-ratio * 100vw;
  }

  @media #{$media-sm-with-ratio} {
    font-size: 26px/$mobile-ratio*100vh;
  }

  .dark-grey-bg &, .green-bg & {
    color: #fff;
  }
}

p + p {
  padding-top: 1em;
}


sup {
  vertical-align: super;
}

.yellow-text {
  color: $yellow!important;
}

.light-grey-text {
  color: $light-grey!important;
}

.purple-text {
  color: $purple!important;
}

.blue-text {
  color: $blue!important;
}

.yellow-bg {
  background: $yellow!important;
}

.purple-bg {
  background: $purple!important;
}

.grey-bg {
  background: $light-grey!important;
}

.dark-grey-bg {
  background: $dark-grey!important;
}

.green-bg {
  background: $green!important;
}

.black-bg {
  background: #000!important;
}

.white-bg {
  background: #fff!important;
}

.disabled, [disabled] {
  pointer-events: none;
  opacity: .3;
}

.hidden {
  display: none!important;
}

body {
  &.show-login-popup {
    overflow: hidden;
  }
}