html {
  font: $font-body;
  color: $main-black;
}

a {
  color: $main-black;
  text-decoration: none;

  &, .text {
    transition: color $transition-time;
  }

  &:hover {
    &, .text {
      color: $yellow;
    }
  }
}

h1, h2, h3, h4 {
  font: $font-ultima;
}

h2 {
  font-size: 48px;
  padding-bottom: .93em;
}

h4 {
  font-size: 32px;
  padding-bottom: 1em;
}

p {
  font-size: 22px;
  line-height: 1.36;
  color: $black-60;
}

p + p {
  paddin-top: 1em;
}


sup {
  vertical-align: super;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.yellow-text {
  color: $yellow!important;
}

.light-grey-text {
  color: $light-grey!important;
}

.purple-text {
  color: $purple!important;
}

.blue-text {
  color: $blue!important;
}

.yellow-bg {
  background: $yellow!important;
}

.purple-bg {
  background: $purple!important;
}

.disabled, [disabled] {
  pointer-events: none;
  opacity: .3;
}