.wrapper {
  padding: 0 (60px/$desktop-home-ratio*100vw);


  @media #{$desktop-bad-ratio} {
    padding: 0 (60px/$desktop-height-ratio*100vh);
  }

  @media #{$media-sm} {
    padding: 0 (60px/$mobile-ratio*100vw);
  }

  @media #{$media-sm-with-ratio} {
    padding: 0 (60px/$mobile-ratio-height*100vh);
  }

  .show-connect-form .connect-fullpage > & {
    padding: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.inner-main-content {
  padding-top: 120px/$desktop-home-ratio*100vw;

  @media #{$desktop-bad-ratio} {
    padding-top: 120px/$desktop-height-ratio*100vh;
  }

  @media #{$media-sm} {
    padding-top: 120px/$mobile-ratio*100vw;
  }

  @media #{$media-sm-with-ratio} {
    padding-top: 120px/$mobile-ratio-height*100vh;
  }
}

.inner-page {
  position: relative;
  height: 100vh;
  z-index: 99;
  transform: translateY(0);
  transition: transform .5s;

  .show-fullpage & {
    transform: translateY(100%);
  }
}

.fullpage-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.plan-connect-wrapper {
  @extend %clearfix;
  padding: (75px/$desktop-home-ratio*100vw) 0 (106px/$desktop-home-ratio*100vw);
  display: flex;
  align-items: center;

  @media #{$desktop-bad-ratio} {
    padding: (75px/$desktop-height-ratio*100vh) 0 (106px/$desktop-height-ratio*100vh);
  }

  @media #{$media-sm} {
    padding: (65px/$mobile-ratio*100vw) 0;
    display: flex;
    align-items: center;
  }

  @media #{$media-sm-with-ratio} {
    padding: (65px/$mobile-ratio-height*100vh) 0;
  }

  .plan-name {
    font: $font-ultima;
    font-size: 28px/$desktop-home-ratio*100vw;
    line-height: 1.28;
    color: $main-black;
    float: left;
    margin-bottom: 0;
    margin-right: 20px/$mobile-ratio * 100vw;;

    @media #{$desktop-bad-ratio} {
      font-size: 28px/$desktop-height-ratio * 100vh;
    }

    @media #{$media-sm} {
      font-size: 28px/$mobile-ratio * 100vw;
      float: none;
      align-self: center;
    }

    @media #{$media-sm-with-ratio} {
      font-size: 28px/$mobile-ratio-height * 100vh;
    }

    sup {
      font-size: 18px/$desktop-home-ratio*100vw;
      font-weight: 700;

      @media #{$desktop-bad-ratio} {
        font-size: 18px/$desktop-height-ratio * 100vh;
      }

      @media #{$media-sm} {
        font-size: 18px/$mobile-ratio * 100vw;
      }

      @media #{$media-sm-with-ratio} {
        font-size: 18px/$mobile-ratio-height * 100vh;
      }
    }
  }

  .btn.btn-big {
    float: right;
    font-size: 36px/$desktop-home-ratio*100vw;
    padding: (22px/$desktop-home-ratio*100vw) (38px/$desktop-home-ratio*100vw);
    margin-left: auto;


    @media #{$desktop-bad-ratio} {
      font-size: 36px/$desktop-height-ratio*100vh;
      padding: (22px/$desktop-height-ratio*100vh) (38px/$desktop-height-ratio*100vh);
    }


    @media #{$media-sm} {
      margin-left: auto;
      align-self: center;
      flex-basis: 250px/$mobile-ratio*100vw;
    }

    @media #{$media-sm-with-ratio} {
      flex-basis: 250px/$mobile-ratio*100vw;
    }
  }
}

.center-block {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1;

  @media #{$media-sm} {
    padding: 0 27px;
  }
}

.show-fullpage {
  overflow: hidden;
}

.robot-animation {
  svg:not(:only-child) {
    display: none;
  }

  svg:first-child {
    display: inline-block;
  }
}