@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Radomir Tinkov - Gilroy-Medium.eot");
  src: url("./fonts/Radomir Tinkov - Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
  url("./fonts/Radomir Tinkov - Gilroy-Medium.woff2") format("woff2"),
  url("./fonts/Radomir Tinkov - Gilroy-Medium.woff") format("woff"),
  url("./fonts/Radomir Tinkov - Gilroy-Medium.ttf") format("ttf"),
  url("./fonts/Radomir Tinkov - Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Radomir Tinkov - Gilroy-SemiBold.eot");
  src: url("./fonts/Radomir Tinkov - Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/Radomir Tinkov - Gilroy-SemiBold.woff2") format("woff2"),
  url("./fonts/Radomir Tinkov - Gilroy-SemiBold.woff") format("woff"),
  url("./fonts/Radomir Tinkov - Gilroy-SemiBold.ttf") format("ttf"),
  url("./fonts/Radomir Tinkov - Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Radomir Tinkov - Gilroy-Light.eot");
  src: url("./fonts/Radomir Tinkov - Gilroy-Light.eot?#iefix") format("embedded-opentype"),
  url("./fonts/Radomir Tinkov - Gilroy-Light.woff2") format("woff2"),
  url("./fonts/Radomir Tinkov - Gilroy-Light.woff") format("woff"),
  url("./fonts/Radomir Tinkov - Gilroy-Light.ttf") format("ttf"),
  url("./fonts/Radomir Tinkov - Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "UltimaPro";
  src: url("./fonts/UltimaPro.eot");
  src: url("./fonts/UltimaPro.eot?#iefix") format("embedded-opentype"),
  url("./fonts/UltimaPro.woff2") format("woff2"),
  url("./fonts/UltimaPro.woff") format("woff"),
  url("./fonts/UltimaPro.ttf") format("ttf"),
  url("./fonts/UltimaPro.svg#UltimaPro") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "UltimaPro";
  src: url("./fonts/UltimaPro-Bold.eot");
  src: url("./fonts/UltimaPro-Bold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/UltimaPro-Bold.woff2") format("woff2"),
  url("./fonts/UltimaPro-Bold.woff") format("woff"),
  url("./fonts/UltimaPro-Bold.ttf") format("ttf"),
  url("./fonts/UltimaPro-Bold.svg#UltimaPro-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}