$delay-11: .11s;
$delay-33: .33s;
$delay-50: .5s;
$delay-80: .8s;
$delay-133: 1.33s;
$delay-200: 2s;

%figures-scale {
  animation-name: figures-scale;
  animation-duration: .33s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

%figures-scale-center {
  animation-name: figures-scale-center;
  animation-duration: .33s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

%figures-scale-center-mobile {
  animation-name: figures-scale-center-mobile;
  animation-duration: .33s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes figures-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes figures-scale-center {
  from {
    transform: scale(0) translateY(-50%);
  }
  to {
    transform: scale(1) translateY(-50%);
  }
}

@keyframes figures-scale-center-mobile {
  from {
    transform: scale(0) translateY(-50%) translateX(-50%);
  }
  to {
    transform: scale(1) translateY(-50%) translateX(-50%);
  }
}

%translate-animation {
  animation-name: translate-animation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes translate-animation {
  from {
    transform: translateY(-100%)
  }
  to {
    transform: translateY(0);
  }
}

%hero-animation {
  animation-name: hero-animation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  @media #{$media-sm} {
    animation-name: hero-animation-mobile;
  }
}

%hero-animation-center {
  animation-name: hero-animation-center;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

%hero-5-animation {
  animation-name: hero-5-animation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

%hero-2-animation {
  animation-name: hero-2-animation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes hero-animation {
  0% {
    opacity: 0;
    transform: translateY(20% - 34.5%);
  }

  25% {
    transform: translateY(10% - 34.5%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(-34.5%);
  }
}

@keyframes hero-animation-mobile {
  0% {
    opacity: 0;
    transform: translateY(20% - 34.5%);
  }

  25% {
    transform: translateY(10% - 34.5%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0% - 34.5%);
  }
}

@keyframes hero-animation-center {
  0% {
    opacity: 0;
    transform: translateY(20% - 34.5%) scaleX(1);
  }

  25% {
    transform: translateY(10% - 34.5%) scaleX(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0% - 34.5%) scaleX(1);
  }
}

@keyframes hero-5-animation {
  0% {
    opacity: 0;
    transform: translateY(-41%) scaleX(1);
  }

  25% {
    transform: translateY(-51%) scaleX(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(-61%) scaleX(1);
  }
}

@keyframes hero-2-animation {
  0% {
    opacity: 0;
    transform: translateY(20% - 34.5%) scaleX(1);
  }

  25% {
    transform: translateY(20% - 34.5%) scaleX(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0 - 34.5%) scaleX(1);
  }
}

%plan-animation {
  animation-name: plan-animation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes plan-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  33% {
    transform: translateY(50%);
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

%opacity-fade {
  animation-name: opacity-fade;
  animation-duration: .33s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes opacity-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  //transform: translateY(-120%);
  opacity: 0;
}

.footer-landing {
  opacity: 0;
}

.homepage, .payment-fullpage {
  .fig {
    transform: scale(0);
  }

  .hero {
    opacity: 0;
  }

  .plan-description {
    h1, p, a {
      opacity: 0;
      transform: translateY(50%);
    }
  }
}

body.loaded {
  .header {
    //@extend %translate-animation;
    //animation-delay: .5s;
    @extend %opacity-fade;
    animation-delay: $delay-80;
  }

  .footer-landing, .breadcrumbs {
    @extend %opacity-fade;
    //animation-delay: $delay-200;
    animation-delay: $delay-80;
  }
}

body.loaded .homepage .fig-cross-1 {
  @extend %figures-scale-center;
  transform-origin: top;

  @media #{$media-sm} {
    animation-name: figures-scale-center-mobile;
  }
}

body.loaded .homepage, body.loaded .payment-fullpage, body.loaded .payment-page, body.loaded .connect-fullpage, body.loaded .support-fullpage, body.loaded .support-page, body.loaded .fortyfour-fullpage {

  .fig-cross-4, .fig-circle-3, .fig-cross-5 {
    @extend %figures-scale;
  }

  .fig-square-big {
    @extend %figures-scale-center;
  }

  .fig-cross-2, .fig-cross-3, .fig-circle-1, .fig-circle-2, .fig-square-1, .fig-square-2, .fig-square-3, .fig-cross-fade-1, .fig-cross-fade-2 {
    @extend %figures-scale;
    animation-delay: $delay-33;
  }

  .hero {
    @extend %hero-animation;
    animation-delay: $delay-80;
  }

  .hero-2 {
    @extend %hero-2-animation;
    animation-delay: $delay-80;
  }

  .hero-5 {
    @extend %hero-5-animation;
    animation-delay: $delay-80;
  }

  .not-found-content {
    @extend %plan-animation;
    animation-delay: $delay-80;
  }

  .plan-description {
    h1 {
      @extend %plan-animation;
      //animation-delay: $delay-133;
      animation-delay: $delay-80;
    }

    p {
      @extend %plan-animation;
      //animation-delay: $delay-133 + $delay-11;
      animation-delay: $delay-80 + $delay-11;

    }

    a, .flex-form-wrap {
      @extend %plan-animation;
      //animation-delay: $delay-133 + ($delay-11 * 2);
      animation-delay: $delay-80 + ($delay-11 * 2);
    }
  }

  .support-form {
    h1 {
      @extend %plan-animation;
      animation-delay: $delay-80;
    }

    .flex-form-wrap, p.show-on-success {
      @extend %plan-animation;
      animation-delay: $delay-80 + $delay-11;
    }

    p, .btn {
      @extend %plan-animation;
      animation-delay: $delay-80 + ($delay-11 * 2);
    }
  }

  .payment-form {
    h1 {
      @extend %plan-animation;
      animation-delay: $delay-80;
    }

    .flex-form-wrap, p {
      @extend %plan-animation;
      animation-delay: $delay-80 + $delay-11;
    }

    .btn {
      @extend %plan-animation;
      animation-delay: $delay-80 + ($delay-11 * 2);
    }
  }
}

body.loaded {
  .header-inner-page {
    .hero {
      @extend %hero-animation-center;
      animation-delay: $delay-80;
    }

    .hero-2 {
      @extend %hero-2-animation;
      animation-delay: $delay-80;
    }

    .plan-description {
      h1 {
        @extend %plan-animation;
        animation-delay: $delay-80;
      }

      p {
        @extend %plan-animation;
        animation-delay: $delay-80 + $delay-11;
      }

      a {
        @extend %plan-animation;
        animation-delay: $delay-80 + ($delay-11 * 2);
      }
    }

    .fig-cross-1 {
      @extend %figures-scale-center;

      @media #{$media-sm} {
        animation-name: figures-scale-center-mobile;
      }
    }

    .fig-cross-4, .fig-circle-3, .fig-cross-5 {
      @extend %figures-scale;
    }

    .fig-square-big {
      @extend %figures-scale-center;
    }

    .fig-cross-2, .fig-cross-3, .fig-circle-1, .fig-circle-2, .fig-square-1, .fig-square-2, .fig-square-3 {
      @extend %figures-scale;
      animation-delay: $delay-33;
    }
  }
}