body.loaded.initial-animation {
  .homepage {
    .hero {
      animation: none;
      opacity: 1;
      transform: translateY(0);
    }

    .plan-description {
      p, h1, a {
        animation: none;
        opacity: 1;
        transform: initial;
      }
    }

    .fig {
      animation: none;
      transform: initial;
    }

    .payment-form {
      animation: none;
      transform: scale(1);
    }
  }

  .header-inner-page {
    .hero {
      animation: none;
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .connect-fullpage {
    .hero-2 {
      animation-name: none;
      opacity: 1;
    }

    .fig {
      animation-name: none!important;
      transform: initial;
    }
  }
  .shop-item-animate.items-loaded {
    animation-name: none;
  }
}